<div id="filterrific_results">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tutor uno</th>
      <th>Tutor dos</th>
      <th>Tutor tres</th>
      <th>Tutor cuatro</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th>Programa</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cambio_comite_registros.each do |cambio_comite_registro| %>
      <tr>
        <td><%= cambio_comite_registro.tutor_uno %></td>
        <td><%= cambio_comite_registro.tutor_dos %></td>
        <td><%= cambio_comite_registro.tutor_tres %></td>
        <td><%= cambio_comite_registro.tutor_cuatro %></td>
        <td><%= cambio_comite_registro.user.nombre_paterno_materno %></td>
        <td><%= cambio_comite_registro.user.boleta %></td>
        <td><%= cambio_comite_registro.user.sepi_programa.nombre %></td>
        <td><%= cambio_comite_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if cambio_comite_registro.valida_consejero == true %>
        <td class="success"><%= cambio_comite_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambio_comite_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambio_comite_registro.valida_coordinador == true %>
        <td class="success"><%= cambio_comite_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambio_comite_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambio_comite_registro.estado == "Pendiente" %>
        <td class="warning"><%= cambio_comite_registro.estado %></td>
        <% elsif cambio_comite_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= cambio_comite_registro.estado %></td>
        <% else cambio_comite_registro.estado == "Finalizado" %>
        <td class="info"><%= cambio_comite_registro.estado %></td>
        <% end %>
        <td><%= link_to 'Detalles', cambio_comite_registro %></td>
        <td><%= link_to 'Editar', edit_cambio_comite_registro_path(cambio_comite_registro) %></td>
        <td><%= link_to 'Eliminar', cambio_comite_registro, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @cambio_comite_registros, theme: 'twitter-bootstrap-3', param_name: :pagina %>
</div>
<br>
