<%= form_for(cambio_comite_registro) do |f| %>
  <% if cambio_comite_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cambio_comite_registro.errors.count, "error") %> prohibited this cambio_comite_registro from being saved:</h2>

      <ul>
      <% cambio_comite_registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :tutor_uno %>
    <%= f.text_field :tutor_uno, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :tutor_dos %>
    <%= f.text_field :tutor_dos, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :tutor_tres %>
    <%= f.text_field :tutor_tres, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :tutor_cuatro %>
    <%= f.text_field :tutor_cuatro, class:'form-control' %>
  </div>
</div>

<% if can? :validar_consejero, cambio_comite_registro %>
<div class="row">
  <div class="form-group">
    <%= f.label :valida_consejero %><br>
    <%= f.check_box :valida_consejero, class: 'form-control' %>
  </div>
</div>
<% end %>

<% if can? :validar_coordinador, cambio_comite_registro %>
<div class="row">
  <div class="form-group">
    <%= f.label :valida_coordinador %><br>
    <%= f.check_box :valida_coordinador, class:'form-control' %>
  </div>
</div>
<% end %>

<% if can? :cambiar_estado, cambio_comite_registro %>
<div class="row">
  <div class="form-group">
    <%= f.label :estado %><br>
    <%= collection_select(:cambio_comite_registro, :estado, Estado.all, :estado, :estado, {prompt: true}, class:'form-control') %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="actions col-md-2">
    <%= f.submit "Enviar", class: "btn btn-md btn-primary" %>
  </div>
</div>
<% end %>
<br>
