<p id="notice"><%= notice %></p>

<p>
  <strong>Tutor uno:</strong>
  <%= @cambio_comite_registro.tutor_uno %>
</p>

<p>
  <strong>Tutor dos:</strong>
  <%= @cambio_comite_registro.tutor_dos %>
</p>

<p>
  <strong>Tutor tres:</strong>
  <%= @cambio_comite_registro.tutor_tres %>
</p>

<p>
  <strong>Tutor cuatro:</strong>
  <%= @cambio_comite_registro.tutor_cuatro %>
</p>

<p>
  <strong>User:</strong>
  <%= @cambio_comite_registro.user %>
</p>

<p>
  <strong>Valida consejero:</strong>
  <%= @cambio_comite_registro.valida_consejero %>
</p>

<p>
  <strong>Valida coordinador:</strong>
  <%= @cambio_comite_registro.valida_coordinador %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cambio_comite_registro.estado %>
</p>

<%= link_to 'Edit', edit_cambio_comite_registro_path(@cambio_comite_registro) %> |
<%= link_to 'Back', cambio_comite_registros_path %>
