<%= form_for(telecom_asignatura) do |f| %>
  <% if telecom_asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(telecom_asignatura.errors.count, "error") %> prohibited this telecom_asignatura from being saved:</h2>

      <ul>
      <% telecom_asignatura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, "Nombre de la asignatura" %><br>
    <%= f.text_field :nombre %>
  </div>

  <div class="form-group">
    <%= f.label :clave, "Clave de la asignatura" %><br>
    <%= f.text_field :clave %>
  </div>

  <div class="actions">
    <%= f.submit "Crear", class: "btn btn-md btn-primary"%>
  </div>
<% end %>
