<h2 class="sub">Mis peticiones</h2>
<% if @agregar_asignaturas.empty? %>
<% else %>
<h3 class="sub">Petición para agregar asignaturas al programa de estudios</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Clave</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @agregar_asignaturas.each do |agregar_asignatura| %>
      <tr>
        <td><%= agregar_asignatura.nombre %></td>
        <td><%= agregar_asignatura.clave %></td>
        <td><%= agregar_asignatura.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if agregar_asignatura.valida_consejero == true %>
        <td class="success"><%= agregar_asignatura.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= agregar_asignatura.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if agregar_asignatura.valida_coordinador == true %>
        <td class="success"><%= agregar_asignatura.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= agregar_asignatura.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if agregar_asignatura.estado == "Pendiente" %>
        <td class="warning"><%= agregar_asignatura.estado %></td>
        <% elsif agregar_asignatura.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= agregar_asignatura.estado %></td>
        <% else %>
        <td class="info"><%= agregar_asignatura.estado %></td>
        <% end %>
      </tr>
    <% end%>
  </tbody>
</table>
<% end %>

<% if @baja_asignaturas.empty? %>
<% else %>
<h3 class="sub">Petición de baja de asignaturas</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Clave</th>
        <th width="10%">Fecha</th>
        <th width="5%">Validacion consejero</th>
        <th width="5%">Validacion coordinador</th>
        <th width="15%">Estado</th>
      </tr>
    </thead>

    <tbody>
      <% @baja_asignaturas.each do |baja_asignatura| %>
        <tr>
          <td><%= baja_asignatura.nombre %></td>
          <td><%= baja_asignatura.clave %></td>
          <td><%= baja_asignatura.created_at.strftime("%d/%m/%y a las %T %P") %></td>
          <% if baja_asignatura.valida_consejero == true %>
          <td class="success"><%= baja_asignatura.valida_consejero ? 'Si' : 'No' %></td>
          <% else %>
          <td class="danger"><%= baja_asignatura.valida_consejero ? 'Si' : 'No' %></td>
          <% end %>
          <% if baja_asignatura.valida_coordinador == true %>
          <td class="success"><%= baja_asignatura.valida_coordinador ? 'Si' : 'No' %></td>
          <% else %>
          <td class="danger"><%= baja_asignatura.valida_coordinador ? 'Si' : 'No' %></td>
          <% end %>
          <% if baja_asignatura.estado == "Pendiente" %>
          <td class="warning"><%= baja_asignatura.estado %></td>
          <% elsif baja_asignatura.estado == "Procede realizar trámite ante la SIP" %>
          <td class="success"><%= baja_asignatura.estado %></td>
          <% else baja_asignatura.estado == "Finalizado" %>
          <td class="info"><%= baja_asignatura.estado %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
</table>
<% end %>

<% if @baja_programas.empty? %>
<% else %>
<h3 class="sub">Petición para darse de baja de un programa</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @baja_programas.each do |baja_programa| %>
      <tr>
        <td><%= baja_programa.nombre %></td>
        <td><%= baja_programa.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if baja_programa.valida_consejero == true %>
        <td class="success"><%= baja_programa.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= baja_programa.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if baja_programa.valida_coordinador == true %>
        <td class="success"><%= baja_programa.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= baja_programa.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if baja_programa.estado == "Pendiente" %>
        <td class="warning"><%= baja_programa.estado %></td>
        <% elsif baja_programa.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= baja_programa.estado %></td>
        <% else baja_programa.estado == "Finalizado" %>
        <td class="info"><%= baja_programa.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @cambiar_asignaturas.empty? %>
<% else %>
<h3 class="sub">Petición para cambiar asignaturas de un programa de estudios</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Anterior</th>
      <th>Clave</th>
      <th>Actual</th>
      <th>Clave</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @cambiar_asignaturas.each do |cambiar_asignatura| %>
      <tr>
        <td><%= cambiar_asignatura.anterior %></td>
        <td><%= cambiar_asignatura.clave_anterior %></td>
        <td><%= cambiar_asignatura.actual %></td>
        <td><%= cambiar_asignatura.clave_actual %></td>
        <td><%= cambiar_asignatura.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if cambiar_asignatura.valida_consejero == true %>
        <td class="success"><%= cambiar_asignatura.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambiar_asignatura.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambiar_asignatura.valida_coordinador == true %>
        <td class="success"><%= cambiar_asignatura.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambiar_asignatura.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambiar_asignatura.estado == "Pendiente" %>
        <td class="warning"><%= cambiar_asignatura.estado %></td>
        <% elsif cambiar_asignatura.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= cambiar_asignatura.estado %></td>
        <% else cambiar_asignatura.estado == "Finalizado" %>
        <td class="info"><%= cambiar_asignatura.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @cambiar_consejeros.empty? %>
<% else %>
<h3 class="sub">Petición para cambiar de consejero</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Consejero Actual</th>
      <th>Consejero Nuevo</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @cambiar_consejeros.each do |cambiar_consejero| %>
      <tr>
        <td><%= cambiar_consejero.anterior %></td>
        <td><%= cambiar_consejero.actual %></td>
        <td><%= cambiar_consejero.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if cambiar_consejero.valida_consejero == true %>
        <td class="success"><%= cambiar_consejero.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambiar_consejero.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambiar_consejero.valida_coordinador == true %>
        <td class="success"><%= cambiar_consejero.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambiar_consejero.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambiar_consejero.estado == "Pendiente" %>
        <td class="warning"><%= cambiar_consejero.estado %></td>
        <% elsif cambiar_consejero.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= cambiar_consejero.estado %></td>
        <% else cambiar_consejero.estado == "Finalizado" %>
        <td class="info"><%= cambiar_consejero.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @cambiar_temas.empty? %>
<% else %>
<h3 class="sub">Petición de cambios de tema de tesis</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Anterior</th>
      <th>Actual</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @cambiar_temas.each do |cambiar_tema| %>
      <tr>
        <td><%= cambiar_tema.anterior %></td>
        <td><%= cambiar_tema.actual %></td>
        <td><%= cambiar_tema.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if cambiar_tema.valida_consejero == true %>
        <td class="success"><%= cambiar_tema.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambiar_tema.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambiar_tema.valida_coordinador == true %>
        <td class="success"><%= cambiar_tema.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambiar_tema.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambiar_tema.estado == "Pendiente" %>
        <td class="warning"><%= cambiar_tema.estado %></td>
        <% elsif cambiar_tema.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= cambiar_tema.estado %></td>
        <% else cambiar_tema.estado == "Finalizado" %>
        <td class="info"><%= cambiar_tema.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @comite_registros.empty? %>
<% else %>
<h3 class="sub">Petición de registro de comit&eacute; tutorial</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tutor uno</th>
      <th>Tutor dos</th>
      <th>Tutor tres</th>
      <th>Tutor cuatro</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @comite_registros.each do |comite_registro| %>
      <tr>
        <td><%= comite_registro.tutor_uno %></td>
        <td><%= comite_registro.tutor_dos %></td>
        <td><%= comite_registro.tutor_tres %></td>
        <td><%= comite_registro.tutor_cuatro %></td>
        <td><%= comite_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if comite_registro.valida_consejero == true %>
        <td class="success"><%= comite_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= comite_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if comite_registro.valida_coordinador == true %>
        <td class="success"><%= comite_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= comite_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if comite_registro.estado == "Pendiente" %>
        <td class="warning"><%= comite_registro.estado %></td>
        <% elsif comite_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= comite_registro.estado %></td>
        <% else comite_registro.estado == "Finalizado" %>
        <td class="info"><%= comite_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @cursar_asignaturas.empty? %>
<% else %>
<h3 class="sub">Petición para cursar asignaturas en otra unidad acad&eacute;mica</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Clave</th>
      <th>Unidad</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @cursar_asignaturas.each do |cursar_asignatura| %>
      <tr>
        <td><%= cursar_asignatura.nombre %></td>
        <td><%= cursar_asignatura.clave %></td>
        <td><%= cursar_asignatura.unidad %></td>
        <td><%= cursar_asignatura.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if cursar_asignatura.valida_consejero == true %>
        <td class="success"><%= cursar_asignatura.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cursar_asignatura.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if cursar_asignatura.valida_coordinador == true %>
        <td class="success"><%= cursar_asignatura.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cursar_asignatura.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if cursar_asignatura.estado == "Pendiente" %>
        <td class="warning"><%= cursar_asignatura.estado %></td>
        <% elsif cursar_asignatura.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= cursar_asignatura.estado %></td>
        <% else cursar_asignatura.estado == "Finalizado" %>
        <td class="info"><%= cursar_asignatura.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @examen_graduados.empty? %>
<% else %>
<h3 class="sub">Petición para presentar examen de grado</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tipo de examen</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @examen_graduados.each do |examen_graduado| %>
      <tr>
        <td><%= examen_graduado.tipo %></td>
        <td><%= examen_graduado.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if examen_graduado.valida_consejero == true %>
        <td class="success"><%= examen_graduado.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= examen_graduado.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if examen_graduado.valida_coordinador == true %>
        <td class="success"><%= examen_graduado.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= examen_graduado.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if examen_graduado.estado == "Pendiente" %>
        <td class="warning"><%= examen_graduado.estado %></td>
        <% elsif examen_graduado.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= examen_graduado.estado %></td>
        <% else examen_graduado.estado == "Finalizado" %>
        <td class="info"><%= examen_graduado.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @receso_semestres.empty? %>
<% else %>
<h3 class="sub">Petición de receso por un semestre</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Semestre</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @receso_semestres.each do |receso_semestre| %>
      <tr>
        <td><%= receso_semestre.semestre %></td>
        <td><%= receso_semestre.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if receso_semestre.valida_consejero == true %>
        <td class="success"><%= receso_semestre.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= receso_semestre.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if receso_semestre.valida_coordinador == true %>
        <td class="success"><%= receso_semestre.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= receso_semestre.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if receso_semestre.estado == "Pendiente" %>
        <td class="warning"><%= receso_semestre.estado %></td>
        <% elsif receso_semestre.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= receso_semestre.estado %></td>
        <% else receso_semestre.estado == "Finalizado" %>
        <td class="info"><%= receso_semestre.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @revocacion_registros.empty? %>
<% else %>
<h3 class="sub">Petición de revocación de baja</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Título del tema de tesis</th>
      <th>Director de tesis</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @revocacion_registros.each do |revocacion_registro| %>
      <tr>
        <td><%= revocacion_registro.titulo %></td>
        <td><%= revocacion_registro.director %></td>
        <td><%= revocacion_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if revocacion_registro.valida_consejero == true %>
        <td class="success"><%= revocacion_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= revocacion_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if revocacion_registro.valida_coordinador == true %>
        <td class="success"><%= revocacion_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= revocacion_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if revocacion_registro.estado == "Pendiente" %>
        <td class="warning"><%= revocacion_registro.estado %></td>
        <% elsif revocacion_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= revocacion_registro.estado %></td>
        <% else revocacion_registro.estado == "Finalizado" %>
        <td class="info"><%= revocacion_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @director_tesis_registros.empty? %>
<% else %>
<h3 class="sub">Petición de registro de director de tesis</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre del director de tesis</th>
      <th>Nombre del codirector de tesis</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @director_tesis_registros.each do |director_tesis_registro| %>
      <tr>
        <td><%= director_tesis_registro.nombre %></td>
        <% if director_tesis_registro.codirector.present? %>
        <td><%= director_tesis_registro.codirector %></td>
        <% else %>
        <td>Sin codirector</td>
        <% end %>
        <td><%= director_tesis_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if director_tesis_registro.valida_consejero == true %>
        <td class="success"><%= director_tesis_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= director_tesis_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if director_tesis_registro.valida_coordinador == true %>
        <td class="success"><%= director_tesis_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= director_tesis_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if director_tesis_registro.estado == "Pendiente" %>
        <td class="warning"><%= director_tesis_registro.estado %></td>
        <% elsif director_tesis_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= director_tesis_registro.estado %></td>
        <% else director_tesis_registro.estado == "Finalizado" %>
        <td class="info"><%= director_tesis_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @tema_tesis_registros.empty? %>
<% else %>
<h3 class="sub">Petición de registro de tema de tesis</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tema de tesis</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @tema_tesis_registros.each do |tema_tesis_registro| %>
      <tr>
        <td><%= tema_tesis_registro.tema %></td>
        <td><%= tema_tesis_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if tema_tesis_registro.valida_consejero == true %>
        <td class="success"><%= tema_tesis_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= tema_tesis_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if tema_tesis_registro.valida_coordinador == true %>
        <td class="success"><%= tema_tesis_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= tema_tesis_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if tema_tesis_registro.estado == "Pendiente" %>
        <td class="warning"><%= tema_tesis_registro.estado %></td>
        <% elsif tema_tesis_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= tema_tesis_registro.estado %></td>
        <% else tema_tesis_registro.estado == "Finalizado" %>
        <td class="info"><%= tema_tesis_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @tesis_registros.empty? %>
<% else %>
<h3 class="sub">Petición de registro de tema de tesis, director y comisi&oacute;n revisora</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tema</th>
      <th>Director</th>
      <th>Presidente</th>
      <th>Secretario</th>
      <th>Primer vocal</th>
      <th>Segundo vocal</th>
      <th>Tercer vocal</th>
      <th>Suplente</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @tesis_registros.each do |tesis_registro| %>
      <tr>
        <td><%= tesis_registro.tema %></td>
        <td><%= tesis_registro.director %></td>
        <td><%= tesis_registro.presidente %></td>
        <td><%= tesis_registro.secretario %></td>
        <td><%= tesis_registro.primer_vocal %></td>
        <td><%= tesis_registro.segundo_vocal %></td>
        <td><%= tesis_registro.tercer_vocal %></td>
        <td><%= tesis_registro.suplente %></td>
        <td><%= tesis_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if tesis_registro.valida_consejero == true %>
        <td class="success"><%= tesis_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= tesis_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if tesis_registro.valida_coordinador == true %>
        <td class="success"><%= tesis_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= tesis_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if tesis_registro.estado == "Pendiente" %>
        <td class="warning"><%= tesis_registro.estado %></td>
        <% elsif tesis_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= tesis_registro.estado %></td>
        <% else tesis_registro.estado == "Finalizado" %>
        <td class="info"><%= tesis_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<!--<h2>Importante</h2>
<div class="row jumbotron">
  <div class="col-md-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title" align="center">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong>Tr&aacute;mites obligatorios a realizar entre el primer y segundo semestre</strong>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <table class="table table-condensed">
              <tr>
                <th><strong>Tr&aacute;mite</strong></th>
                <th><strong>Alumno</strong></th>
                <th><strong>Periodo para realizarlo</strong></th>
                <th><strong>Observaciones</strong></th>
                <th><strong>Marco legal</strong></th>
              </tr>
              <tr>
                <td>Registro de director de tesis</td>
                <td>Especialidad, Maestr&iacute;a y Doctorado</td>
                <td>Primer semestre para alumnos de tiempo completo.<br>Al termino del segundo semestre para alumnos de tiempo parcial.</td>
                <td>---</td>
                <td><a href="http://www.sepi.esimez.ipn.mx/reglamento.html" target="_blank">Artículo 37 del Reglamento de estudios de Posgrado</a></td>
              </tr>
              <tr>
                <td>Registro de tema de tesis y comisi&oacute;n revisora</td>
                <td>Maestr&iacute;a y Doctorado</td>
                <td>Al t&eacute;rmino del primer semestre para alumnos de tiempo completo.</td>
                <td width="30%">“El tema de tesis de doctorado en ciencias o doctorado en ingeniería deberá ser registrado al finalizar el primer semestre y <strong>ser&aacute; uno de los requisitos para el examen predoctoral</strong>.”</td>
                <td><a href="http://www.sepi.esimez.ipn.mx/reglamento.html" target="_blank">Artículo 56 del Reglamento de estudios de Posgrado</a></td>
              </tr>
              <tr>
                <td>Registro de comit&eacute; tutorial</td>
                <td>Especialidad, Maestr&iacute;a y Doctorado</td>
                <td>Finales del primer semestre o a principios del segundo semestre.</td>
                <td width="30%">“Dicho comit&eacute; estar&aacute; conformado, en lo posible, por cuatro profesores con derecho a voz y voto y con al menos tres profesores colegiados, entre los cuales uno de los directores de tesis o tesina formar&aacute; parte del comit&eacute;. El cuarto miembro del comit&eacute; tutorial ser&aacute; preferentemente externo al programa.”</td>
                <td><a href="http://www.sepi.esimez.ipn.mx/reglamento.html" target="_blank">Artículo 38 del Reglamento de estudios de Posgrado</a></td>
              </tr>
              <tr>
                <td colspan="5" class="warning"><strong>Nota:</strong> Los tr&aacute;mites de registro de director de tesis, as&iacute; como el de registro de tema y comisi&oacute;n revisora se env&iacute;an en la misma petici&oacute;n.</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title" align="center">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <strong>Observaciones para otros tr&aacute;mites</strong>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <table class="table table-condensed">
              <tr>
                <th><strong>Tr&aacute;mite</strong></th>
                <th><strong>Alumno</strong></th>
                <th><strong>Observaciones</strong></th>
                <th><strong>Marco legal</strong></th>
              </tr>
              <tr>
                <td>Solicitud de receso</td>
                <td>Especialidad, Maestr&iacute;a y Doctorado</td>
                <td>“Un alumno podr&aacute; solicitar al director de una unidad acad&eacute;mica o jefe de secci&oacute;n que le conceda un receso de un semestre en el caso de programas de especialidad, especialidades m&eacute;dicas y maestr&iacute;as y hasta dos recesos de un semestre cada uno, para los programas de doctorado y especialidades o maestr&iacute;as no presenciales y mixtas, los cuales podr&aacute;n ser sucesivos o no.”</td>
                <td><a href="http://www.sepi.esimez.ipn.mx/reglamento.html" target="_blank">Artículo 47 del Reglamento de estudios de Posgrado</a></td>
              </tr>
              <tr>
                <td>Baja de asignatura</td>
                <td>Especialidad, Maestr&iacute;a y Doctorado</td>
                <td width="30%">“Podr&aacute; concederse a un alumno la baja en la inscripci&oacute;n a una asignatura, <strong>&uacute;nicamente durante las primeras seis semanas de iniciado el semestre…</strong>”</td>
                <td><a href="http://www.sepi.esimez.ipn.mx/reglamento.html" target="_blank">Artículo 48 del Reglamento de estudios de Posgrado</a></td>
              </tr>
              <tr>
                <td>Cambio de tema de tesis</td>
                <td>Especialidad, Maestr&iacute;a y Doctorado</td>
                <td width="30%">“A propuesta del director o directores de tesis o tesina y del alumno se podr&aacute; cambiar el tema registrado. Para el primero de los casos, el cambio de tema podrá realizarse previa aprobaci&oacute;n del comit&eacute; tutorial del estudiante y siguiendo los mismos tr&aacute;mites que para la elecci&oacute;n de tema.”</td>
                <td><a href="http://www.sepi.esimez.ipn.mx/reglamento.html" target="_blank">Artículo 59 del Reglamento de estudios de Posgrado</a></td>
              </tr>
              <tr>
                <td>Cambio de director de tesis</td>
                <td>Especialidad, Maestr&iacute;a y Doctorado</td>
                <td width="30%">“El colegio de profesores podr&aacute; cambiar al director o directores de tesis o tesina asignados a un alumno a solicitud de este &uacute;ltimo o de alguno de los directores.”</td>
                <td><a href="http://www.sepi.esimez.ipn.mx/reglamento.html" target="_blank">Artículo 60 del Reglamento de estudios de Posgrado</a></td>
              </tr>
              <tr>
                <td>Tomar asignaturas o realizar estancias en otras instituciones</td>
                <td>Especialidad, Maestr&iacute;a y Doctorado</td>
                <td width="30%">“El director de la unidad acad&eacute;mica o el jefe de secci&oacute;n que corresponda, previa aprobaci&oacute;n del colegio de profesores, podr&aacute; autorizar que el alumno tome asignaturas o realice estancias de su programa individual de estudios en otras unidades acad&eacute;micas o en instituciones externas.”</td>
                <td><a href="http://www.sepi.esimez.ipn.mx/reglamento.html" target="_blank">Artículo 13 del Reglamento de estudios de Posgrado</a></td>
              </tr>
              <tr>
                <td>Revalidación de estudios de posgrado</td>
                <td>Especialidad, Maestr&iacute;a y Doctorado</td>
                <td width="30%">“La revalidaci&oacute;n de los estudios de posgrado realizados en el Instituto o en otras instituciones, <strong>se llevar&aacute; a cabo sobre las asignaturas acreditadas y no sobre los programas como tal</strong>.”</td>
                <td><a href="http://www.sepi.esimez.ipn.mx/reglamento.html" target="_blank">Artículo 35 del Reglamento de estudios de Posgrado</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
