<%= form_for(baja_asignatura) do |f| %>
  <% if baja_asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(baja_asignatura.errors.count, "error") %> prohibited this baja_asignatura from being saved:</h2>

      <ul>
      <% baja_asignatura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if current_user.sepi_programa.nombre.include? 'Eléctrica' %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :nombre %><br>
    <%= collection_select(:baja_asignatura, :nombre, ElectricaAsignatura.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-2">
    <%= f.label :clave %><br>
    <%= collection_select(:baja_asignatura, :clave, ElectricaAsignatura.all, :clave, :clave, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>
<% elsif current_user.sepi_programa.nombre.include? 'Electrónica' %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :nombre %><br>
    <%= collection_select(:baja_asignatura, :nombre, ElectronicaAsignatura.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-2">
    <%= f.label :clave %><br>
    <%= collection_select(:baja_asignatura, :clave, ElectronicaAsignatura.all, :clave, :clave, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>
<% elsif current_user.sepi_programa.nombre.include? 'Mecánica' or current_user.sepi_programa.nombre.include? 'Térmica' %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :nombre %><br>
    <%= collection_select(:baja_asignatura, :nombre, MecanicaAsignatura.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-2">
    <%= f.label :clave %><br>
    <%= collection_select(:baja_asignatura, :clave, MecanicaAsignatura.all, :clave, :clave, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>
<% elsif current_user.sepi_programa.nombre.include? 'Sistemas' %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :nombre %><br>
    <%= collection_select(:baja_asignatura, :nombre, SistemasAsignatura.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-2">
    <%= f.label :clave %><br>
    <%= collection_select(:baja_asignatura, :clave, SistemasAsignatura.all, :clave, :clave, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>
<% else %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :nombre %><br>
    <%= collection_select(:baja_asignatura, :nombre, TelecomAsignatura.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-2">
    <%= f.label :clave %><br>
    <%= collection_select(:baja_asignatura, :clave, TelecomAsignatura.all, :clave, :clave, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>
<% end %>

<% if can? :validar_consejero, baja_asignatura %>
<div class="row">
  <div class="form-group">
    <%= f.label :valida_consejero %><br>
    <%= f.check_box :valida_consejero %>
  </div>
</div>
<% end %>

<% if can? :validar_coordinador, baja_asignatura %>
<div class="row">
  <div class="form-group">
    <%= f.label :valida_coordinador %><br>
    <%= f.check_box :valida_coordinador %>
  </div>
<% end %>

<% if can? :cambiar_estado, baja_asignatura %>
<div class="row">
  <div class="form-group">
    <%= f.label :estado %><br>
    <%= collection_select(:baja_asignatura, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="actions col-md-2">
    <%= f.submit "Enviar", class: "btn btn-md btn-primary"%>
  </div>
</div>
<% end %>
<script>
function matchUp(selected, toselect)
{
  var idx = selected.prop('selectedIndex');
  toselect.prop('selectedIndex', idx);
}


$('#baja_asignatura_nombre').change(
  function() {
    matchUp($('#baja_asignatura_nombre'), $('#baja_asignatura_clave'));
  }
);

$('#baja_asignatura_clave').change(
  function() {
    matchUp($('#baja_asignatura_clave'), $('#baja_asignatura_nombre'));
  }
);
</script>
