<p id="notice"><%= notice %></p>

<h1>Baja Asignaturas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Creado por</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baja_asignaturas.each do |baja_asignatura| %>
      <tr>
        <td><%= baja_asignatura.nombre %></td>
        <td><%= baja_asignatura.user.nombre %></td>
        <td><%= link_to 'Show', baja_asignatura %></td>
        <td><%= link_to 'Edit', edit_baja_asignatura_path(baja_asignatura) %></td>
        <td><%= link_to 'Destroy', baja_asignatura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baja Asignatura', new_baja_asignatura_path %>
