<h3 class="sub">Detalles</h1>
<p>
  <strong>Nombre:</strong>
  <%= @baja_asignatura.nombre %>
</p>

<p>
  <strong>Creada por:</strong>
  <%= @baja_asignatura.user.nombre %>
</p>

<p>
  <strong>Fecha de creaci&oacute;n:</strong>
  <%= @baja_asignatura.created_at.strftime("%d/%m/%y a las %T %P") %>
</p>

<p>
  <strong>&Aacute;rea:</strong>
  <%= @baja_asignatura.user.area %>
</p>

<%= render 'baja_asignaturas/links' %>
