<%= form_for(cursar_asignatura) do |f| %>
  <% if cursar_asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cursar_asignatura.errors.count, "error") %> prohibited this cursar_asignatura from being saved:</h2>

      <ul>
      <% cursar_asignatura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :nombre, 'Nombre de la asignatura' %><br>
    <%= f.text_field :nombre, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :clave, 'Clave de la asignatura' %><br>
    <%= f.text_field :clave, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :unidad, 'Unidad académica' %><br>
    <%= f.text_field :unidad, class:'form-control' %>
  </div>
</div>

<% if can? :validar_consejero, cursar_asignatura %>
<div class="row">
  <div class="form-group">
    <%= f.label :valida_consejero %><br>
    <%= f.check_box :valida_consejero %>
  </div>
</div>
<% end %>

<% if can? :validar_coordinador, cursar_asignatura %>
<div class="row">
  <div class="form-group">
    <%= f.label :valida_coordinador %><br>
    <%= f.check_box :valida_coordinador %>
  </div>
</div>
<% end %>

<% if can? :cambiar_estado, cursar_asignatura %>
<div class="row">
  <div class="form-group">
    <%= f.label :estado %><br>
    <%= collection_select(:cursar_asignatura, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="form-group col-md-2">
    <%= f.submit "Enviar", class: "btn btn-md btn-primary" %>
  </div>
</div>
<% end %>
