<%= form_for(cursar_asignatura) do |f| %>
  <% if cursar_asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cursar_asignatura.errors.count, "error") %> prohibited this cursar_asignatura from being saved:</h2>

      <ul>
      <% cursar_asignatura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :clave %>
    <%= f.text_field :clave %>
  </div>

  <div class="field">
    <%= f.label :unidad %>
    <%= f.text_field :unidad %>
  </div>

  <div class="field">
    <% if can? :validar_consejero, cursar_asignatura %>
      <%= f.label :valida_consejero %>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="field">
    <% if can? :validar_coordinador, cursar_asignatura %>
      <%= f.label :valida_coordinador %>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="field">
    <% if can? :cambiar_estado, cursar_asignatura %>
      <%= f.label :estado %>
      <%= collection_select(:cursar_asignatura, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
