<%= form_for(clave_semestre) do |f| %>
  <% if clave_semestre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clave_semestre.errors.count, "error") %> prohibited this clave_semestre from being saved:</h2>

      <ul>
      <% clave_semestre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :semestre, "Clave del semestre" %><br>
    <%= f.text_field :semestre %>
  </div>

  <div class="actions">
    <%= f.submit "Crear", class: "btn btn-md btn-primary"%>
  </div>
<% end %>
