<h3 class="sub">Claves de semestres</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Semestre</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @clave_semestres.each do |clave_semestre| %>
      <tr>
        <td><%= clave_semestre.semestre %></td>
        <td><%= link_to 'Detalles', clave_semestre %></td>
        <td><%= link_to 'Editar', edit_clave_semestre_path(clave_semestre) %></td>
        <td><%= link_to 'Eliminar', clave_semestre, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva clave de semestre', new_clave_semestre_path %>
