<%= form_for(examen_graduado) do |f| %>
  <% if examen_graduado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(examen_graduado.errors.count, "error") %> prohibited this examen_graduado from being saved:</h2>

      <ul>
      <% examen_graduado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %>
      <%= collection_select(:examen_graduado, :tipo, ExamenTipo.all, :tipo, :tipo, {prompt: true}) %>
  </div>

  <div class="field">
    <% if can? :validar_consejero, examen_graduado %>
      <%= f.label :valida_consejero %>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="field">
    <% if can? :validar_coordinador, examen_graduado %>
      <%= f.label :valida_coordinador %>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="field">
    <% if can? :cambiar_estado, examen_graduado %>
      <%= f.label :estado %>
      <%= collection_select(:examen_graduado, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
