<%= form_for(examen_graduado) do |f| %>
  <% if examen_graduado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(examen_graduado.errors.count, "error") %> prohibited this examen_graduado from being saved:</h2>

      <ul>
      <% examen_graduado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :tipo, "Tipo de examen" %><br>
      <%= collection_select(:examen_graduado, :tipo, ExamenTipo.all, :tipo, :tipo, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<% if can? :validar_consejero, examen_graduado %>
<div class="row">
  <div class="form-group">
    <%= f.label :valida_consejero %><br>
    <%= f.check_box :valida_consejero %>
  </div>
</div>
<% end %>

<% if can? :validar_coordinador, examen_graduado %>
<div class="row">
  <div class="form-group">
    <%= f.label :valida_coordinador %><br>
    <%= f.check_box :valida_coordinador %>
  </div>
</div>
<% end %>

<% if can? :cambiar_estado, examen_graduado %>
<div class="row">
  <div class="form-group">
    <%= f.label :estado %><br>
    <%= collection_select(:examen_graduado, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="form-group col-md-2">
    <%= f.submit "Enviar", class: "btn btn-md btn-primary" %>
  </div>
</div>
<% end %>
