<p id="notice"><%= notice %></p>

<h1>Examen Graduados</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @examen_graduados.each do |examen_graduado| %>
      <tr>
        <td><%= examen_graduado.tipo %></td>
        <td><%= link_to 'Show', examen_graduado %></td>
        <td><%= link_to 'Edit', edit_examen_graduado_path(examen_graduado) %></td>
        <td><%= link_to 'Destroy', examen_graduado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Examen Graduado', new_examen_graduado_path %>
