<h3 class="sub">Editar usuario</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :paterno, 'Apellido paterno' %><br>
    <%= f.text_field :paterno, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :materno, 'Apellido materno' %><br>
    <%= f.text_field :materno, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-2">
    <%= f.label :boleta %><br>
    <%= f.text_field :boleta, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, class:'form-control' %>
  </div>
</div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :password %> <i>(dejar en blanco sino desea cambiarla)</i><br>
    <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres m&iacute;nimo</em>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :current_password %> <i>(teclea tu contrase&ntilde;a actual para confirmar los cambios)</i><br>
    <%= f.password_field :current_password, autocomplete: "off", class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="actions col-md-2">
    <%= f.submit "Enviar", class:'btn btn-primary' %>
  </div>
</div>
<% end %>
<br>
<%= link_to "Regresar", :back %>
