<h3 class="sub">Petición para cambiar asignaturas de un programa de estudios</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Anterior</th>
      <th>Clave</th>
      <th>Actual</th>
      <th>Clave</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th>Programa</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cambiar_asignaturas.each do |cambiar_asignatura| %>
      <tr>
        <td><%= cambiar_asignatura.anterior %></td>
        <td><%= cambiar_asignatura.clave_anterior %></td>
        <td><%= cambiar_asignatura.actual %></td>
        <td><%= cambiar_asignatura.clave_actual %></td>
        <td><%= cambiar_asignatura.user.nombre_paterno_materno %></td>
        <td><%= cambiar_asignatura.user.boleta %></td>
        <td><%= cambiar_asignatura.user.sepi_programa.nombre %></td>
        <td><%= cambiar_asignatura.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if cambiar_asignatura.valida_consejero == true %>
        <td class="success"><%= cambiar_asignatura.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambiar_asignatura.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambiar_asignatura.valida_coordinador == true %>
        <td class="success"><%= cambiar_asignatura.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambiar_asignatura.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambiar_asignatura.estado == "Pendiente" %>
        <td class="warning"><%= cambiar_asignatura.estado %></td>
        <% elsif cambiar_asignatura.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= cambiar_asignatura.estado %></td>
        <% else cambiar_asignatura.estado == "Finalizado" %>
        <td class="info"><%= cambiar_asignatura.estado %></td>
        <% end %>
        <td><%= link_to 'Detalles', cambiar_asignatura %></td>
        <td><%= link_to 'Editar', edit_cambiar_asignatura_path(cambiar_asignatura) %></td>
        <td><%= link_to 'Eliminar', cambiar_asignatura, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, CambiarAsignatura %>
<%= link_to 'Crear petición para cambiar una asignatura', new_cambiar_asignatura_path %>
<% end %>
