<p id="notice"><%= notice %></p>

<h1>Cambiar Asignaturas</h1>

<table>
  <thead>
    <tr>
      <th>Anterior</th>
      <th>Clave</th>
      <th>Actual</th>
      <th>Clave</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th>Fecha</th>
      <th>Validacion consejero</th>
      <th>Validacion coordinador</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cambiar_asignaturas.each do |cambiar_asignatura| %>
      <tr>
        <td><%= cambiar_asignatura.anterior %></td>
        <td><%= cambiar_asignatura.clave_anterior %></td>
        <td><%= cambiar_asignatura.actual %></td>
        <td><%= cambiar_asignatura.clave_actual %></td>
        <td><%= cambiar_asignatura.user.nombre %></td>
        <td><%= cambiar_asignatura.user.boleta %></td>
        <td><%= cambiar_asignatura.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <td><%= cambiar_asignatura.valida_consejero ? 'Si' : 'No' %></td>
        <td><%= cambiar_asignatura.valida_coordinador ? 'Si' : 'No' %></td>
        <td><%= cambiar_asignatura.estado %></td>
        <td><%= link_to 'Show', cambiar_asignatura %></td>
        <td><%= link_to 'Edit', edit_cambiar_asignatura_path(cambiar_asignatura) %></td>
        <td><%= link_to 'Destroy', cambiar_asignatura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cambiar Asignatura', new_cambiar_asignatura_path %>
