<h3 class="sub">Nombres de los tipos de usuarios</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Nombre del tipo de usuario</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @tipos_usuarios.each do |tipos_usuario| %>
      <tr>
        <td><%= tipos_usuario.tipo %></td>
        <td><%= link_to 'Detalles', tipos_usuario %></td>
        <td><%= link_to 'Editar', edit_tipos_usuario_path(tipos_usuario) %></td>
        <td><%= link_to 'Eliminar', tipos_usuario, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo nombre de tipo de usuario', new_tipos_usuario_path %>
