<%= form_for(comite_registro) do |f| %>
  <% if comite_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comite_registro.errors.count, "error") %> prohibited this comite_registro from being saved:</h2>

      <ul>
      <% comite_registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if current_user.area == 'Eléctrica' %>
  <div class="form-group">
    <%= f.label :tutor_uno %><br>
    <%= collection_select(:comite_registro, :tutor_uno, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_dos %><br>
    <%= collection_select(:comite_registro, :tutor_dos, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_tres %><br>
    <%= collection_select(:comite_registro, :tutor_tres, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_cuatro %><br>
    <%= collection_select(:comite_registro, :tutor_cuatro, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% elsif current_user.area == 'Electrónica' %>
  <div class="form-group">
    <%= f.label :tutor_uno %><br>
    <%= collection_select(:comite_registro, :tutor_uno, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_dos %><br>
    <%= collection_select(:comite_registro, :tutor_dos, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_tres %><br>
    <%= collection_select(:comite_registro, :tutor_tres, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_cuatro %><br>
    <%= collection_select(:comite_registro, :tutor_cuatro, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% elsif current_user.area == 'Mecánica' %>
  <div class="form-group">
    <%= f.label :tutor_uno %><br>
    <%= collection_select(:comite_registro, :tutor_uno, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_dos %><br>
    <%= collection_select(:comite_registro, :tutor_dos, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_tres %><br>
    <%= collection_select(:comite_registro, :tutor_tres, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_cuatro %><br>
    <%= collection_select(:comite_registro, :tutor_cuatro, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% elsif current_user.area == 'Sistemas' %>
  <div class="form-group">
    <%= f.label :tutor_uno %><br>
    <%= collection_select(:comite_registro, :tutor_uno, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_dos %><br>
    <%= collection_select(:comite_registro, :tutor_dos, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_tres %><br>
    <%= collection_select(:comite_registro, :tutor_tres, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_cuatro %><br>
    <%= collection_select(:comite_registro, :tutor_cuatro, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% else %>
  <div class="form-group">
    <%= f.label :tutor_uno %><br>
    <%= collection_select(:comite_registro, :tutor_uno, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_dos %><br>
    <%= collection_select(:comite_registro, :tutor_dos, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_tres %><br>
    <%= collection_select(:comite_registro, :tutor_tres, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tutor_cuatro %><br>
    <%= collection_select(:comite_registro, :tutor_cuatro, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% end %>

  <div class="form-group">
    <% if can? :validar_consejero, comite_registro %>
      <%= f.label :valida_consejero %><br>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :validar_coordinador, comite_registro %>
      <%= f.label :valida_coordinador %><br>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :cambiar_estado, comite_registro %>
      <%= f.label :estado %><br>
      <%= collection_select(:comite_registro, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Crear petición", class: "btn btn-md btn-primary" %>
  </div>
<% end %>
