<%= form_for(comite_registro) do |f| %>
  <% if comite_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comite_registro.errors.count, "error") %> prohibited this comite_registro from being saved:</h2>

      <ul>
      <% comite_registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tutor_uno %>
    <%= f.text_field :tutor_uno %>
  </div>

  <div class="field">
    <%= f.label :tutor_dos %>
    <%= f.text_field :tutor_dos %>
  </div>

  <div class="field">
    <%= f.label :tutor_tres %>
    <%= f.text_field :tutor_tres %>
  </div>

  <div class="field">
    <%= f.label :tutor_cuatro %>
    <%= f.text_field :tutor_cuatro %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
