<%= form_for(comite_registro) do |f| %>
  <% if comite_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comite_registro.errors.count, "error") %> prohibited this comite_registro from being saved:</h2>

      <ul>
      <% comite_registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tutor_uno %>
    <%= collection_select(:comite_registro, :tutor_uno, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <%= f.label :tutor_dos %>
    <%= collection_select(:comite_registro, :tutor_dos, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <%= f.label :tutor_tres %>
    <%= collection_select(:comite_registro, :tutor_tres, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <%= f.label :tutor_cuatro %>
    <%= collection_select(:comite_registro, :tutor_cuatro, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <% if can? :validar_consejero, comite_registro %>
      <%= f.label :valida_consejero %>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="field">
    <% if can? :validar_coordinador, comite_registro %>
      <%= f.label :valida_coordinador %>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="field">
    <% if can? :cambiar_estado, comite_registro %>
      <%= f.label :estado %>
      <%= collection_select(:comite_registro, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
