<h3 class="sub">Peticiones de registro de comit&eacute; tutorial</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Tutor uno</th>
      <th>Tutor dos</th>
      <th>Tutor tres</th>
      <th>Tutor cuatro</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th>Programa</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @comite_registros.each do |comite_registro| %>
      <tr>
        <td><%= comite_registro.tutor_uno %></td>
        <td><%= comite_registro.tutor_dos %></td>
        <td><%= comite_registro.tutor_tres %></td>
        <td><%= comite_registro.tutor_cuatro %></td>
        <td><%= comite_registro.user.nombre_paterno_materno %></td>
        <td><%= comite_registro.user.boleta %></td>
        <td><%= comite_registro.user.sepi_programa.nombre %></td>
        <td><%= comite_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if comite_registro.valida_consejero == true %>
        <td class="success"><%= comite_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= comite_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if comite_registro.valida_coordinador == true %>
        <td class="success"><%= comite_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= comite_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if comite_registro.estado == "Pendiente" %>
        <td class="warning"><%= comite_registro.estado %></td>
        <% elsif comite_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= comite_registro.estado %></td>
        <% else comite_registro.estado == "Finalizado" %>
        <td class="info"><%= comite_registro.estado %></td>
        <% end %>
        <td><%= link_to 'Detalles', comite_registro %></td>
        <td><%= link_to 'Editar', edit_comite_registro_path(comite_registro) %></td>
        <td><%= link_to 'Eliminar', comite_registro, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, ComiteRegistro %>
<%= link_to 'Crear petición para registrar comité tutorial', new_comite_registro_path %>
<% end %>
