<h3 class="sub">Detalles</h3>
<p>
  <strong>Tutor uno:</strong>
  <%= @comite_registro.tutor_uno %>
</p>

<p>
  <strong>Tutor dos:</strong>
  <%= @comite_registro.tutor_dos %>
</p>

<p>
  <strong>Tutor tres:</strong>
  <%= @comite_registro.tutor_tres %>
</p>

<p>
  <strong>Tutor cuatro:</strong>
  <%= @comite_registro.tutor_cuatro %>
</p>

<%= render 'comite_registros/links' %>
