<p id="notice"><%= notice %></p>

<p>
  <strong>Tutor uno:</strong>
  <%= @comite_registro.tutor_uno %>
</p>

<p>
  <strong>Tutor dos:</strong>
  <%= @comite_registro.tutor_dos %>
</p>

<p>
  <strong>Tutor tres:</strong>
  <%= @comite_registro.tutor_tres %>
</p>

<p>
  <strong>Tutor cuatro:</strong>
  <%= @comite_registro.tutor_cuatro %>
</p>

<%= link_to 'Edit', edit_comite_registro_path(@comite_registro) %> |
<%= link_to 'Back', comite_registros_path %>
