<%= form_for(examen_tipo) do |f| %>
  <% if examen_tipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(examen_tipo.errors.count, "error") %> prohibited this examen_tipo from being saved:</h2>

      <ul>
      <% examen_tipo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tipo, "Nombre del tipo de examen" %><br>
    <%= f.text_field :tipo %>
  </div>

  <div class="actions">
    <%= f.submit "Crear", class: "btn btn-md btn-primary"%>
  </div>
<% end %>
