<h3 class="sub">Nombres de los tipos de ex&aacute;menes</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Nombres de los tipos de ex&aacute;menes</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @examen_tipos.each do |examen_tipo| %>
      <tr>
        <td><%= examen_tipo.tipo %></td>
        <td><%= link_to 'Detalles', examen_tipo %></td>
        <td><%= link_to 'Editar', edit_examen_tipo_path(examen_tipo) %></td>
        <td><%= link_to 'Eliminar', examen_tipo, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nuevo nombre de tipo de examen', new_examen_tipo_path %>
