<%= form_for(baja_programa) do |f| %>
  <% if baja_programa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(baja_programa.errors.count, "error") %> prohibited this baja_programa from being saved:</h2>

      <ul>
      <% baja_programa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= collection_select(:baja_programa, :nombre, SepiPrograma.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <% if can? :validar_consejero, baja_programa %>
      <%= f.label :valida_consejero %>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="field">
    <% if can? :validar_coordinador, baja_programa %>
      <%= f.label :valida_coordinador %>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="field">
    <% if can? :cambiar_estado, baja_programa %>
      <%= f.label :estado %>
      <%= collection_select(:baja_programa, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
