<%= form_for(baja_programa) do |f| %>
  <% if baja_programa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(baja_programa.errors.count, "error") %> prohibited this baja_programa from being saved:</h2>

      <ul>
      <% baja_programa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :nombre %><br>
    <%= collection_select(:baja_programa, :nombre, SepiPrograma.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<% if can? :validar_consejero, baja_programa %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :valida_consejero %><br>
    <%= f.check_box :valida_consejero %>
  </div>
</div>
<% end %>

<% if can? :validar_coordinador, baja_programa %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :valida_coordinador %><br>
    <%= f.check_box :valida_coordinador %>
  </div>
</div>
<% end %>

<% if can? :cambiar_estado, baja_programa %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :estado %><br>
    <%= collection_select(:baja_programa, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="actions col-md-2">
    <%= f.submit "Enviar", class: "btn btn-md btn-primary"%>
  </div>
</div>
<% end %>
