<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="field col-md-3">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="field col-md-3">
    <%= f.label :boleta %><br>
    <%= f.text_field :boleta, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="field col-md-3">
    <%= f.label :sepi_programa_id %><br>
    <%= collection_select(:user, :sepi_programa_id, SepiPrograma.all, :id, :nombre, {prompt: true}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="field col-md-3">
    <%= f.label :consejero_id %><br>
    <%= collection_select(:user, :consejero_id, Consejero.all, :id, :nombre, {prompt: true}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="field col-md-3">
    <%= f.label :coordinador_nombre_id %><br>
    <%= collection_select(:user, :coordinador_nombre_id, CoordinadorNombre.all, :id, :nombre, {prompt: true}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="field col-md-3">
    <%= f.label :tipos_usuario_id %><br>
    <%= collection_select(:user, :tipos_usuario_id, TiposUsuario.all, :id, :tipo, {prompt: true}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="field col-md-3">
    <%= f.label :area %><br>
    <%= collection_select(:user, :area, Area.all, :nombre, :nombre, {prompt: true}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="actions col-md-3">
    <%= f.submit 'Enviar', class:'btn btn-primary' %>
  </div>
</div>
<% end %>

<script>
function matchUp(selected, toselect)
{
  var idx = selected.prop('selectedIndex');
  toselect.prop('selectedIndex', idx);
}


$('#user_sepi_programa_id').change(
  function() {
    matchUp($('#user_sepi_programa_id'), $('#user_area'));
  }
);

$('#user_area').change(
  function() {
    matchUp($('#user_area'), $('#user_sepi_programa_id'));
  }
);
</script>
