<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :paterno %><br>
    <%= f.text_field :paterno, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :materno %><br>
    <%= f.text_field :materno, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :boleta %><br>
    <%= f.text_field :boleta, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :sepi_programa_id, "Programa" %><br>
    <%= collection_select(:user, :sepi_programa_id, SepiPrograma.all, :id, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :consejero_id %><br>
    <%= collection_select(:user, :consejero_id, User.consejero.order('nombre ASC'), :id, :nombre_paterno_materno, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :tipos_usuario_id, "Tipo de usuario" %><br>
    <%= collection_select(:user, :tipos_usuario_id, TiposUsuario.all, :id, :tipo, {prompt: true}, class:'form-control') %>
  </div>
</div>


<div class="row">
  <div class="form-group col-md-3">
    <%= f.submit 'Enviar', class:'btn btn-primary' %>
  </div>
</div>
<% end %>
