<h3 class="sub">Administraci&oacute;n de usuarios</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Boleta</th>
      <th>Programa</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombre %></td>
        <td><%= user.boleta %></td>
        <td><%= user.sepi_programa.nombre %></td>
        <td><%= link_to 'Detalles', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nuevo usuario', new_user_path %>
