<h3 class="sub">Administraci&oacute;n de usuarios</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Boleta</th>
      <th>Tipo de usuario</th>
      <th>Programa</th>
      <th>Consejero</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombre %></td>
        <td><%= user.paterno %></td>
        <td><%= user.materno %></td>
        <% if user.boleta.empty? %>
          <td>Sin boleta</td>
        <% else %>
          <td><%= user.boleta %></td>
        <% end %>
        <td><%= user.tipos_usuario.tipo %></td>
        <% if user.sepi_programa.nil? %>
          <td>Sin programa</td>
        <% else %>
          <td><%= user.sepi_programa.nombre %></td>
        <% end %>
        <% if user.consejero.nil? %>
          <td>Sin consejero</td>
        <% else %>
          <td><%= user.consejero.nombre %></td>
        <% end %>
        <td><%= link_to 'Detalles', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'Crear nuevo usuario', new_user_path %>
