<h3 class="sub">Administraci&oacute;n de usuarios</h3>
<h4>Total de usuarios en el sistema: <strong><%= @total_usuarios %></strong></h4>
<%= form_for_filterrific @filterrific do |f| %>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.label :search_query, 'Buscar' %>
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed form-control'
      ) %>
    </div>
    <div class="col-md-4">
      <%= f.label :with_sepi_programa_id, 'Programa de SEPI' %>
      <%= f.select(
        :with_sepi_programa_id,
        @filterrific.select_options[:with_sepi_programa_id],
        { include_blank: '- Cualquiera -' }, class:'form-control'
      ) %>
      <br>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-3">
        <%= link_to(
          'Quitar filtros',
          reset_filterrific_url,
          class: 'btn btn-primary'
        ) %>
      </div>
  </div>
</div>
  <%# add an automated spinner to your form when the list is refreshed %>
<% end %>

<%= render(
  partial: 'users/lista',
  locals: { users: @users }
) %>

<br>
