<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Paterno:</strong>
  <%= @user.paterno %>
</p>

<p>
  <strong>Materno:</strong>
  <%= @user.materno %>
</p>

<p>
  <strong>Boleta:</strong>
  <% if @user.boleta.empty? %>
    Sin boleta
  <% else %>
    <%= @user.boleta %>
  <% end %>
</p>

<p>
  <strong>Programa:</strong>
  <% if @user.sepi_programa.nil? %>
    No aplica
  <% else %>
    <%= @user.sepi_programa.nombre %>
  <% end %>
</p>

<p>
  <strong>Consejero:</strong>
  <% if @user.consejero.nil? %>
    No aplica
  <% else %>
    <%= @user.consejero.nombre %>
  <% end %>
</p>

<p>
  <strong>Coordinador:</strong>
  <% if @user.coordinador_nombre.nil? %>
    No aplica
  <% else %>
    <%= @user.coordinador_nombre.nombre %>
  <% end %>
</p>

<p>
  <strong>Tipo de usuario:</strong>
  <%= @user.tipos_usuario.tipo %>
</p>

<p>
  <strong>&Aacute;rea a la que pertenece:</strong>
  <%= @user.area %>
</p>

<p>
  <strong>Creado el:</strong>
  <%= @user.created_at.strftime("%d/%m/%y a las %T %P") %>
</p>

<p>
  <strong>&Uacute;ltimo inicio de sesi&oacute;n:</strong>
  <%= @user.last_sign_in_at.strftime("%d/%m/%y a las %T %P") %>
</p>

<p>
  <strong>N&uacute;mero de veces que ha iniciado sesi&oacute;n:</strong>
  <%= @user.sign_in_count %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Regresar', users_path %>
