<h2 class="sub">¿Olvidó su contraseña?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="actions col-md-2">
    <%= f.submit "Enviar las instrucciones de recuperación a este correo", class:'btn btn-primary' %>
  </div>
</div>
<% end %>
<br>
<%= link_to 'Regresar', root_path %>
