<h3 class="sub">Detalles</h3>
<p>
  <strong>Nombre:</strong>
  <%= @cambio_director_tesis_registro.nombre %>
</p>

<p>
  <strong>Codirector:</strong>
  <%= @cambio_director_tesis_registro.codirector %>
</p>


<p>
  <strong>Valida consejero:</strong>
  <%= @cambio_director_tesis_registro.valida_consejero %>
</p>

<p>
  <strong>Valida coordinador:</strong>
  <%= @cambio_director_tesis_registro.valida_coordinador %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cambio_director_tesis_registro.estado %>
</p>

<%= render 'layouts/links' %>
