<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cambio_director_tesis_registro.nombre %>
</p>

<p>
  <strong>Codirector:</strong>
  <%= @cambio_director_tesis_registro.codirector %>
</p>

<p>
  <strong>User:</strong>
  <%= @cambio_director_tesis_registro.user %>
</p>

<p>
  <strong>Valida consejero:</strong>
  <%= @cambio_director_tesis_registro.valida_consejero %>
</p>

<p>
  <strong>Valida coordinador:</strong>
  <%= @cambio_director_tesis_registro.valida_coordinador %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cambio_director_tesis_registro.estado %>
</p>

<%= link_to 'Edit', edit_cambio_director_tesis_registro_path(@cambio_director_tesis_registro) %> |
<%= link_to 'Back', cambio_director_tesis_registros_path %>
