<h3 class="sub">Asignaturas de Ingenier&iacute;a El&eacute;ctrica</h3>
<table class="table table-bordered">

  <thead>
    <tr>
      <th>Nombre de la asignatura</th>
      <th>Clave de la asignatura</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @electrica_asignaturas.each do |electrica_asignatura| %>
      <tr>
        <td><%= electrica_asignatura.nombre %></td>
        <td><%= electrica_asignatura.clave %></td>
        <td><%= link_to 'Detalles', electrica_asignatura %></td>
        <td><%= link_to 'Editar', edit_electrica_asignatura_path(electrica_asignatura) %></td>
        <td><%= link_to 'Eliminar', electrica_asignatura, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nueva asignatura', new_electrica_asignatura_path %>
