<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @electrica_asignatura.nombre %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @electrica_asignatura.clave %>
</p>

<%= link_to 'Edit', edit_electrica_asignatura_path(@electrica_asignatura) %> |
<%= link_to 'Back', electrica_asignaturas_path %>
