<%= form_for(cambiar_consejero) do |f| %>
  <% if cambiar_consejero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cambiar_consejero.errors.count, "error") %> prohibited this cambiar_consejero from being saved:</h2>

      <ul>
      <% cambiar_consejero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if current_user.sepi_programa.nombre.include? 'Eléctrica' %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :anterior, "Consejero actual" %><br>
    <%= collection_select(:cambiar_consejero, :anterior, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :actual, "Nuevo consejero" %><br>
    <%= collection_select(:cambiar_consejero, :actual, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>
<% elsif current_user.sepi_programa.nombre.include? 'Electrónica' %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :anterior, "Consejero actual" %><br>
    <%= collection_select(:cambiar_consejero, :anterior, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :actual, "Nuevo consejero" %><br>
    <%= collection_select(:cambiar_consejero, :actual, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>
<% elsif current_user.sepi_programa.nombre.include? 'Mecánica' or 'Térmica' %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :anterior, "Consejero actual" %><br>
    <%= collection_select(:cambiar_consejero, :anterior, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :actual, "Nuevo consejero" %><br>
    <%= collection_select(:cambiar_consejero, :actual, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>
<% elsif current_user.sepi_programa.nombre.include? 'Sistemas' %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :anterior, "Consejero actual" %><br>
    <%= collection_select(:cambiar_consejero, :anterior, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :actual, "Nuevo consejero" %><br>
    <%= collection_select(:cambiar_consejero, :actual, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>
<% else %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :anterior, "Consejero actual" %><br>
    <%= collection_select(:cambiar_consejero, :anterior, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :actual, "Nuevo consejero" %><br>
    <%= collection_select(:cambiar_consejero, :actual, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>
<% end %>

<% if can? :validar_consejero, cambiar_consejero %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :valida_consejero %><br>
    <%= f.check_box :valida_consejero %>
  </div>
</div>
<% end %>

<% if can? :validar_coordinador, cambiar_consejero %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :valida_coordinador %><br>
    <%= f.check_box :valida_coordinador %>
  </div>
</div>
<% end %>

<% if can? :cambiar_estado, cambiar_consejero %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :estado %><br>
    <%= collection_select(:cambiar_consejero, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="actions col-md-2">
    <%= f.submit "Enviar", class: "btn btn-md btn-primary" %>
  </div>
</div>
<% end %>
