<%= form_for(cambiar_consejero) do |f| %>
  <% if cambiar_consejero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cambiar_consejero.errors.count, "error") %> prohibited this cambiar_consejero from being saved:</h2>

      <ul>
      <% cambiar_consejero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :anterior %>
    <%= collection_select(:cambiar_consejero, :anterior, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <%= f.label :actual %>
    <%= collection_select(:cambiar_consejero, :actual, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <% if can? :validar_consejero, cambiar_consejero %>
      <%= f.label :valida_consejero %>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="field">
    <% if can? :validar_coordinador, cambiar_consejero %>
      <%= f.label :valida_coordinador %>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="field">
    <% if can? :cambiar_estado, cambiar_consejero %>
      <%= f.label :estado %>
      <%= collection_select(:cambiar_consejero, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
