<%= form_for(cambiar_consejero) do |f| %>
  <% if cambiar_consejero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cambiar_consejero.errors.count, "error") %> prohibited this cambiar_consejero from being saved:</h2>

      <ul>
      <% cambiar_consejero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if current_user.area == 'Eléctrica' %>
  <div class="form-group">
    <%= f.label :anterior, "Consejero actual" %><br>
    <%= collection_select(:cambiar_consejero, :anterior, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :actual, "Nuevo consejero" %><br>
    <%= collection_select(:cambiar_consejero, :actual, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% elsif current_user.area == 'Electrónica' %>
  <div class="form-group">
    <%= f.label :anterior, "Consejero actual" %><br>
    <%= collection_select(:cambiar_consejero, :anterior, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :actual, "Nuevo consejero" %><br>
    <%= collection_select(:cambiar_consejero, :actual, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% elsif current_user.area == 'Mecánica' %>
  <div class="form-group">
    <%= f.label :anterior, "Consejero actual" %><br>
    <%= collection_select(:cambiar_consejero, :anterior, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :actual, "Nuevo consejero" %><br>
    <%= collection_select(:cambiar_consejero, :actual, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% elsif current_user.area == 'Sistemas' %>
  <div class="form-group">
    <%= f.label :anterior, "Consejero actual" %><br>
    <%= collection_select(:cambiar_consejero, :anterior, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :actual, "Nuevo consejero" %><br>
    <%= collection_select(:cambiar_consejero, :actual, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% else %>
  <div class="form-group">
    <%= f.label :anterior, "Consejero actual" %><br>
    <%= collection_select(:cambiar_consejero, :anterior, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :actual, "Nuevo consejero" %><br>
    <%= collection_select(:cambiar_consejero, :actual, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% end %>

  <div class="form-group">
    <% if can? :validar_consejero, cambiar_consejero %>
      <%= f.label :valida_consejero %><br>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :validar_coordinador, cambiar_consejero %>
      <%= f.label :valida_coordinador %><br>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :cambiar_estado, cambiar_consejero %>
      <%= f.label :estado %><br>
      <%= collection_select(:cambiar_consejero, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Crear petición", class: "btn btn-md btn-primary" %>
  </div>
<% end %>
