<h3 class="sub">Petición para cambiar de consejero</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Consejero Anterior</th>
      <th>Consejero Actual</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cambiar_consejeros.each do |cambiar_consejero| %>
      <tr>
        <td><%= cambiar_consejero.anterior %></td>
        <td><%= cambiar_consejero.actual %></td>
        <td><%= cambiar_consejero.user.nombre %></td>
        <td><%= cambiar_consejero.user.boleta %></td>
        <td><%= cambiar_consejero.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if cambiar_consejero.valida_consejero == true %>
        <td class="success"><%= cambiar_consejero.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambiar_consejero.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambiar_consejero.valida_coordinador == true %>
        <td class="success"><%= cambiar_consejero.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambiar_consejero.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambiar_consejero.estado == "Pendiente" %>
        <td class="warning"><%= cambiar_consejero.estado %></td>
        <% elsif cambiar_consejero.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= cambiar_consejero.estado %></td>
        <% else cambiar_consejero.estado == "Finalizado" %>
        <td class="info"><%= cambiar_consejero.estado %></td>
        <% end %>
        <td><%= link_to 'Detalles', cambiar_consejero %></td>
        <td><%= link_to 'Editar', edit_cambiar_consejero_path(cambiar_consejero) %></td>
        <td><%= link_to 'Eliminar', cambiar_consejero, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, CambiarConsejero %>
<%= link_to 'Crear petición para cambiar consejeros', new_cambiar_consejero_path %>
<% end %>
