<%= form_for(tesis_registro) do |f| %>
  <% if tesis_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tesis_registro.errors.count, "error") %> prohibited this tesis_registro from being saved:</h2>

      <ul>
      <% tesis_registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tema %><br>
    <%= f.text_field :tema %>
  </div>

  <div class="form-group">
    <%= f.label :director %><br>
    <%= collection_select(:tesis_registro, :director, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :presidente %><br>
    <%= collection_select(:tesis_registro, :presidente, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :secretario %><br>
    <%= collection_select(:tesis_registro, :secretario, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :primer_vocal %><br>
    <%= collection_select(:tesis_registro, :primer_vocal, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :segundo_vocal %><br>
    <%= collection_select(:tesis_registro, :segundo_vocal, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tercer_vocal %><br>
    <%= collection_select(:tesis_registro, :tercer_vocal, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :suplente %><br>
    <%= collection_select(:tesis_registro, :suplente, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <% if can? :validar_consejero, tesis_registro %>
      <%= f.label :valida_consejero %><br>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :validar_coordinador, tesis_registro %>
      <%= f.label :valida_coordinador %><br>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :cambiar_estado, tesis_registro %>
      <%= f.label :estado %><br>
      <%= collection_select(:tesis_registro, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Crear petición", class: "btn btn-md btn-primary" %>
  </div>
<% end %>
