<%= form_for(tesis_registro) do |f| %>
  <% if tesis_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tesis_registro.errors.count, "error") %> prohibited this tesis_registro from being saved:</h2>

      <ul>
      <% tesis_registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tema, 'Tema de tesis' %><br>
    <%= f.text_field :tema %>
  </div>

<% if current_user.area == 'Eléctrica' %>
  <div class="form-group">
    <%= f.label :director %><br>
    <%= collection_select(:tesis_registro, :director, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :director_dos %><br>
    <%= collection_select(:tesis_registro, :director_dos, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :presidente %><br>
    <%= collection_select(:tesis_registro, :presidente, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :secretario %><br>
    <%= collection_select(:tesis_registro, :secretario, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :primer_vocal %><br>
    <%= collection_select(:tesis_registro, :primer_vocal, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :segundo_vocal %><br>
    <%= collection_select(:tesis_registro, :segundo_vocal, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tercer_vocal %><br>
    <%= collection_select(:tesis_registro, :tercer_vocal, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :suplente %><br>
    <%= collection_select(:tesis_registro, :suplente, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% elsif current_user.area == 'Electrónica' %>
  <div class="form-group">
    <%= f.label :director %><br>
    <%= collection_select(:tesis_registro, :director, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :director_dos %><br>
    <%= collection_select(:tesis_registro, :director_dos, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :presidente %><br>
    <%= collection_select(:tesis_registro, :presidente, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :secretario %><br>
    <%= collection_select(:tesis_registro, :secretario, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :primer_vocal %><br>
    <%= collection_select(:tesis_registro, :primer_vocal, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :segundo_vocal %><br>
    <%= collection_select(:tesis_registro, :segundo_vocal, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tercer_vocal %><br>
    <%= collection_select(:tesis_registro, :tercer_vocal, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :suplente %><br>
    <%= collection_select(:tesis_registro, :suplente, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% elsif current_user.area == 'Mecánica' %>
  <div class="form-group">
    <%= f.label :director %><br>
    <%= collection_select(:tesis_registro, :director, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :director_dos %><br>
    <%= collection_select(:tesis_registro, :director_dos, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :presidente %><br>
    <%= collection_select(:tesis_registro, :presidente, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :secretario %><br>
    <%= collection_select(:tesis_registro, :secretario, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :primer_vocal %><br>
    <%= collection_select(:tesis_registro, :primer_vocal, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :segundo_vocal %><br>
    <%= collection_select(:tesis_registro, :segundo_vocal, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tercer_vocal %><br>
    <%= collection_select(:tesis_registro, :tercer_vocal, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :suplente %><br>
    <%= collection_select(:tesis_registro, :suplente, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% elsif current_user.area == 'Sistemas' %>
  <div class="form-group">
    <%= f.label :director %><br>
    <%= collection_select(:tesis_registro, :director, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :director_dos %><br>
    <%= collection_select(:tesis_registro, :director_dos, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :presidente %><br>
    <%= collection_select(:tesis_registro, :presidente, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :secretario %><br>
    <%= collection_select(:tesis_registro, :secretario, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :primer_vocal %><br>
    <%= collection_select(:tesis_registro, :primer_vocal, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :segundo_vocal %><br>
    <%= collection_select(:tesis_registro, :segundo_vocal, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tercer_vocal %><br>
    <%= collection_select(:tesis_registro, :tercer_vocal, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :suplente %><br>
    <%= collection_select(:tesis_registro, :suplente, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
<% else %>
  <div class="form-group">
    <%= f.label :director %><br>
    <%= collection_select(:tesis_registro, :director, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :director_dos %><br>
    <%= collection_select(:tesis_registro, :director_dos, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :presidente %><br>
    <%= collection_select(:tesis_registro, :presidente, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :secretario %><br>
    <%= collection_select(:tesis_registro, :secretario, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :primer_vocal %><br>
    <%= collection_select(:tesis_registro, :primer_vocal, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :segundo_vocal %><br>
    <%= collection_select(:tesis_registro, :segundo_vocal, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :tercer_vocal %><br>
    <%= collection_select(:tesis_registro, :tercer_vocal, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :suplente %><br>
    <%= collection_select(:tesis_registro, :suplente, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>
  <% end %>

  <div class="form-group">
    <% if can? :validar_consejero, tesis_registro %>
      <%= f.label :valida_consejero %><br>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :validar_coordinador, tesis_registro %>
      <%= f.label :valida_coordinador %><br>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :cambiar_estado, tesis_registro %>
      <%= f.label :estado %><br>
      <%= collection_select(:tesis_registro, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Crear petición", class: "btn btn-md btn-primary" %>
  </div>
<% end %>
