<%= form_for(tesis_registro) do |f| %>
  <% if tesis_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tesis_registro.errors.count, "error") %> prohibited this tesis_registro from being saved:</h2>

      <ul>
      <% tesis_registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tema %>
    <%= f.text_field :tema %>
  </div>

  <div class="field">
    <%= f.label :director %>
    <%= collection_select(:tesis_registro, :director, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <%= f.label :presidente %>
    <%= collection_select(:tesis_registro, :presidente, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <%= f.label :secretario %>
    <%= collection_select(:tesis_registro, :secretario, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <%= f.label :primer_vocal %>
    <%= collection_select(:tesis_registro, :primer_vocal, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <%= f.label :segundo_vocal %>
    <%= collection_select(:tesis_registro, :segundo_vocal, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <%= f.label :tercer_vocal %>
    <%= collection_select(:tesis_registro, :tercer_vocal, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <%= f.label :suplente %>
    <%= collection_select(:tesis_registro, :suplente, ElectricaConsejero.all, :nombre, :nombre, {prompt: true}) %>
  </div>

  <div class="field">
    <% if can? :validar_consejero, tesis_registro %>
      <%= f.label :valida_consejero %>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="field">
    <% if can? :validar_coordinador, tesis_registro %>
      <%= f.label :valida_coordinador %>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="field">
    <% if can? :cambiar_estado, tesis_registro %>
      <%= f.label :estado %>
      <%= collection_select(:tesis_registro, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
