<%= form_for(tesis_registro) do |f| %>
  <% if tesis_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tesis_registro.errors.count, "error") %> prohibited this tesis_registro from being saved:</h2>

      <ul>
      <% tesis_registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :tema, 'Tema de tesis' %><br>
    <%= f.text_field :tema, class:'form-control', required: true %>
  </div>
</div>

<% if current_user.sepi_programa.nombre.include? 'Eléctrica' %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :director %><br>
    <%= collection_select(:tesis_registro, :director, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :director_dos %><br>
    <%= collection_select(:tesis_registro, :director_dos, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :presidente %><br>
    <%= collection_select(:tesis_registro, :presidente, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :secretario %><br>
    <%= collection_select(:tesis_registro, :secretario, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :primer_vocal %><br>
    <%= collection_select(:tesis_registro, :primer_vocal, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :segundo_vocal %><br>
    <%= collection_select(:tesis_registro, :segundo_vocal, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :tercer_vocal %><br>
    <%= collection_select(:tesis_registro, :tercer_vocal, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :suplente %><br>
    <%= collection_select(:tesis_registro, :suplente, ElectricaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>
<% elsif current_user.sepi_programa.nombre.include? 'Electrónica' %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :director %><br>
    <%= collection_select(:tesis_registro, :director, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :director_dos %><br>
    <%= collection_select(:tesis_registro, :director_dos, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :presidente %><br>
    <%= collection_select(:tesis_registro, :presidente, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :secretario %><br>
    <%= collection_select(:tesis_registro, :secretario, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :primer_vocal %><br>
    <%= collection_select(:tesis_registro, :primer_vocal, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :segundo_vocal %><br>
    <%= collection_select(:tesis_registro, :segundo_vocal, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :tercer_vocal %><br>
    <%= collection_select(:tesis_registro, :tercer_vocal, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :suplente %><br>
    <%= collection_select(:tesis_registro, :suplente, ElectronicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>
<% elsif current_user.sepi_programa.nombre.include? 'Mecánica' or 'Térmica' %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :director %><br>
    <%= collection_select(:tesis_registro, :director, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :director_dos %><br>
    <%= collection_select(:tesis_registro, :director_dos, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :presidente %><br>
    <%= collection_select(:tesis_registro, :presidente, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :secretario %><br>
    <%= collection_select(:tesis_registro, :secretario, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :primer_vocal %><br>
    <%= collection_select(:tesis_registro, :primer_vocal, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :segundo_vocal %><br>
    <%= collection_select(:tesis_registro, :segundo_vocal, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :tercer_vocal %><br>
    <%= collection_select(:tesis_registro, :tercer_vocal, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :suplente %><br>
    <%= collection_select(:tesis_registro, :suplente, MecanicaConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>
<% elsif current_user.sepi_programa.nombre.include? 'Sistemas' %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :director %><br>
    <%= collection_select(:tesis_registro, :director, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :director_dos %><br>
    <%= collection_select(:tesis_registro, :director_dos, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :presidente %><br>
    <%= collection_select(:tesis_registro, :presidente, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :secretario %><br>
    <%= collection_select(:tesis_registro, :secretario, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :primer_vocal %><br>
    <%= collection_select(:tesis_registro, :primer_vocal, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :segundo_vocal %><br>
    <%= collection_select(:tesis_registro, :segundo_vocal, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :tercer_vocal %><br>
    <%= collection_select(:tesis_registro, :tercer_vocal, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :suplente %><br>
    <%= collection_select(:tesis_registro, :suplente, SistemasConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>
<% else %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :director %><br>
    <%= collection_select(:tesis_registro, :director, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :director_dos %><br>
    <%= collection_select(:tesis_registro, :director_dos, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :presidente %><br>
    <%= collection_select(:tesis_registro, :presidente, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :secretario %><br>
    <%= collection_select(:tesis_registro, :secretario, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :primer_vocal %><br>
    <%= collection_select(:tesis_registro, :primer_vocal, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :segundo_vocal %><br>
    <%= collection_select(:tesis_registro, :segundo_vocal, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :tercer_vocal %><br>
    <%= collection_select(:tesis_registro, :tercer_vocal, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :suplente %><br>
    <%= collection_select(:tesis_registro, :suplente, TelecomConsejero.all, :nombre, :nombre, {prompt: 'Seleccione'}, class:'form-control', required: true) %>
  </div>
</div>
  <% end %>

<% if can? :validar_consejero, tesis_registro %>
<div class="row">
  <div class="form-group">
    <%= f.label :valida_consejero %><br>
    <%= f.check_box :valida_consejero %>
  </div>
</div>
<% end %>

<% if can? :validar_coordinador, tesis_registro %>
<div class="row">
  <div class="form-group">
    <%= f.label :valida_coordinador %><br>
    <%= f.check_box :valida_coordinador %>
  </div>
</div>
<% end %>

<% if can? :cambiar_estado, tesis_registro %>
<div class="row">
  <div class="form-group">
    <%= f.label :estado %><br>
    <%= collection_select(:tesis_registro, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="actions col-md-2">
    <%= f.submit "Enviar", class: "btn btn-md btn-primary" %>
  </div>
</div>
<% end %>
