<h3 class="sub">Detalles</h3>
<p>
  <strong>Tema:</strong>
  <%= @tesis_registro.tema %>
</p>

<p>
  <strong>Director:</strong>
  <%= @tesis_registro.director %>
</p>

<p>
  <strong>Presidente:</strong>
  <%= @tesis_registro.presidente %>
</p>

<p>
  <strong>Secretario:</strong>
  <%= @tesis_registro.secretario %>
</p>

<p>
  <strong>Primer vocal:</strong>
  <%= @tesis_registro.primer_vocal %>
</p>

<p>
  <strong>Segundo vocal:</strong>
  <%= @tesis_registro.segundo_vocal %>
</p>

<p>
  <strong>Tercer vocal:</strong>
  <%= @tesis_registro.tercer_vocal %>
</p>

<p>
  <strong>Suplente:</strong>
  <%= @tesis_registro.suplente %>
</p>

<%= render 'tesis_registros/links' %>
