<h3 class="sub">Asignaturas de Ingenier&iacute;a Mec&aacute;nica</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Clave</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @mecanica_asignaturas.each do |mecanica_asignatura| %>
      <tr>
        <td><%= mecanica_asignatura.nombre %></td>
        <td><%= mecanica_asignatura.clave %></td>
        <td><%= link_to 'Detalles', mecanica_asignatura %></td>
        <td><%= link_to 'Editar', edit_mecanica_asignatura_path(mecanica_asignatura) %></td>
        <td><%= link_to 'Eliminar', mecanica_asignatura, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nueva asignatura', new_mecanica_asignatura_path %>
