<%= form_for(cambiar_tema) do |f| %>
  <% if cambiar_tema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cambiar_tema.errors.count, "error") %> prohibited this cambiar_tema from being saved:</h2>

      <ul>
      <% cambiar_tema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-md-6">
    <%= f.label :anterior, 'Tema de tesis actual' %><br>
    <%= f.text_field :anterior, value: @tema_anterior.tema, class: 'form-control', required: true, readonly: true %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <%= f.label :actual, 'Nuevo tema de tesis' %><br>
    <%= f.text_field :actual, class:'form-control', required: true %>
  </div>
</div>

<% if can? :validar_consejero, cambiar_tema %>
<div class="row">
  <div class="form-group">
    <%= f.label :valida_consejero %><br>
    <%= f.check_box :valida_consejero, class: 'form-control' %>
  </div>
</div>
<% end %>

<% if can? :validar_coordinador, cambiar_tema %>
<div class="row">
  <div class="form-group">
    <%= f.label :valida_coordinador %><br>
    <%= f.check_box :valida_coordinador, class:'form-control' %>
  </div>
</div>
<% end %>

<% if can? :cambiar_estado, cambiar_tema %>
<div class="row">
  <div class="form-group">
    <%= f.label :estado %><br>
    <%= collection_select(:cambiar_tema, :estado, Estado.all, :estado, :estado, {prompt: true}, class:'form-control') %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="actions col-md-2">
    <%= f.submit "Enviar", class: "btn btn-md btn-primary" %>
  </div>
</div>
<% end %>
<br>
