<%= form_for(cambiar_tema) do |f| %>
  <% if cambiar_tema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cambiar_tema.errors.count, "error") %> prohibited this cambiar_tema from being saved:</h2>

      <ul>
      <% cambiar_tema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :anterior %><br>
    <%= f.text_field :anterior %>
  </div>

  <div class="form-group">
    <%= f.label :actual %><br>
    <%= f.text_field :actual %>
  </div>

  <div class="form-group">
    <% if can? :validar_consejero, cambiar_tema %>
      <%= f.label :valida_consejero %><br>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :validar_coordinador, cambiar_tema %>
      <%= f.label :valida_coordinador %><br>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :cambiar_estado, cambiar_tema %>
      <%= f.label :estado %><br>
      <%= collection_select(:cambiar_tema, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div

  <div class="actions">
    <%= f.submit "Crear petición", class: "btn btn-md btn-primary" %>
  </div>
<% end %>
