<h3 class="sub">Peticiones de cambios de tema de tesis</h3>

<%= form_for_filterrific @filterrific do |f| %>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.label :search_query_by_users, 'Buscar caso por nombre del alumno:' %>
      <%= f.text_field(
        :search_query_by_users,
        class: 'filterrific-periodically-observed form-control'
      ) %>
    </div>
    <div class="col-md-4">
      <%= f.label :sorted_by, 'Ordenar por:' %>
      <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], { include_blank: '- Por defecto -'}, class:'form-control') %>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-3">
        <%= link_to(
          'Quitar filtros',
          reset_filterrific_url,
          class: 'btn btn-primary'
        ) %>
      </div>
  </div>
</div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'cambiar_temas/casos',
  locals: { cambiar_temas: @cambiar_temas }
) %>
