<h1 align="center"><strong>Sistema de minutas de asuntos escolares</strong></h1>
<br>
<div class="inicio-sesion">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="form-group" align="center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="form-group" align="center">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
  </div>
</div>
<div class="row">
  <% if devise_mapping.rememberable? -%>
    <div class="form-group" align="center">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
</div>

<div class="row">
  <div class="actions" align="center">
    <%= f.submit "Iniciar sesión", class: "btn btn-md btn-primary" %>
  </div>
<% end %>
</div>

<br>

<div class="row">
  <p align="center"><strong><%= link_to 'Registrarse como usuario nuevo', new_user_registration_path %></strong></p>
</div>

<br>
<p align="center">
  <%= render "devise/shared/links" %>
</p>
</div>
