<%= form_for(agregar_asignatura) do |f| %>
  <% if agregar_asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agregar_asignatura.errors.count, "error") %> prohibited this agregar_asignatura from being saved:</h2>

      <ul>
      <% agregar_asignatura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %><br>
    <%= collection_select(:agregar_asignatura, :nombre, ElectricaAsignatura.all, :nombre, :nombre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <%= f.label :clave %><br>
    <%= collection_select(:agregar_asignatura, :clave, ElectricaAsignatura.all, :clave, :clave, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <% if can? :validar_consejero, agregar_asignatura %>
      <%= f.label :valida_consejero %><br>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :validar_coordinador, agregar_asignatura %>
      <%= f.label :valida_coordinador %><br>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :cambiar_estado, agregar_asignatura %>
      <%= f.label :estado %><br>
      <%= collection_select(:agregar_asignatura, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Crear petición", class: "btn btn-md btn-primary"%>
  </div>
<% end %>
<script>
function matchUp(selected, toselect)
{
  var idx = selected.prop('selectedIndex');
  toselect.prop('selectedIndex', idx);
}


$('#agregar_asignatura_nombre').change(
  function() {
    matchUp($('#agregar_asignatura_nombre'), $('#agregar_asignatura_clave'));
  }
);

$('#agregar_asignatura_clave').change(
  function() {
    matchUp($('#agregar_asignatura_clave'), $('#agregar_asignatura_nombre'));
  }
);
</script>
