<h3 class="sub">Detalles</h3>
<p>
  <strong>Nombre:</strong>
  <%= @agregar_asignatura.nombre %>
</p>

<p>
  <strong>Creada por:</strong>
  <%= @agregar_asignatura.user.nombre %>
</p>

<p>
  <strong>Fecha de creaci&oacute;n:</strong>
  <%= @agregar_asignatura.created_at.strftime("%d/%m/%y a las %T %P") %>
</p>

<p>
  <strong>&Aacute;rea:</strong>
  <%= @agregar_asignatura.user.area %>
</p>

<%= render "agregar_asignaturas/links" %>
