<h3 class="sub">Nombres de los tipos de baja</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Nombre del tipo de baja</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @tipos_bajas.each do |tipos_baja| %>
      <tr>
        <td><%= tipos_baja.tipo %></td>
        <td><%= link_to 'Detalles', tipos_baja %></td>
        <td><%= link_to 'Editar', edit_tipos_baja_path(tipos_baja) %></td>
        <td><%= link_to 'Eliminar', tipos_baja, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo nombre de tipo de baja', new_tipos_baja_path %>
