<%= form_for(cambio_comision_registro) do |f| %>
  <% if cambio_comision_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cambio_comision_registro.errors.count, "error") %> prohibited this cambio_comision_registro from being saved:</h2>

      <ul>
      <% cambio_comision_registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :presidente %>
    <%= f.text_field :presidente %>
  </div>

  <div class="field">
    <%= f.label :secretario %>
    <%= f.text_field :secretario %>
  </div>

  <div class="field">
    <%= f.label :primer_vocal %>
    <%= f.text_field :primer_vocal %>
  </div>

  <div class="field">
    <%= f.label :segundo_vocal %>
    <%= f.text_field :segundo_vocal %>
  </div>

  <div class="field">
    <%= f.label :tercer_vocal %>
    <%= f.text_field :tercer_vocal %>
  </div>

  <div class="field">
    <%= f.label :suplente %>
    <%= f.text_field :suplente %>
  </div>

  <div class="field">
    <%= f.label :valida_consejero %>
    <%= f.check_box :valida_consejero %>
  </div>

  <div class="field">
    <%= f.label :valida_coordinador %>
    <%= f.check_box :valida_coordinador %>
  </div>

  <div class="field">
    <%= f.label :estado %>
    <%= f.text_field :estado %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
