<p id="notice"><%= notice %></p>

<p>
  <strong>Presidente:</strong>
  <%= @cambio_comision_registro.presidente %>
</p>

<p>
  <strong>Secretario:</strong>
  <%= @cambio_comision_registro.secretario %>
</p>

<p>
  <strong>Primer vocal:</strong>
  <%= @cambio_comision_registro.primer_vocal %>
</p>

<p>
  <strong>Segundo vocal:</strong>
  <%= @cambio_comision_registro.segundo_vocal %>
</p>

<p>
  <strong>Tercer vocal:</strong>
  <%= @cambio_comision_registro.tercer_vocal %>
</p>

<p>
  <strong>Suplente:</strong>
  <%= @cambio_comision_registro.suplente %>
</p>

<p>
  <strong>Valida consejero:</strong>
  <%= @cambio_comision_registro.valida_consejero %>
</p>

<p>
  <strong>Valida coordinador:</strong>
  <%= @cambio_comision_registro.valida_coordinador %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cambio_comision_registro.estado %>
</p>

<%= link_to 'Edit', edit_cambio_comision_registro_path(@cambio_comision_registro) %> |
<%= link_to 'Back', cambio_comision_registros_path %>
