<h3 class="sub">Nombres de los coordinadores</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @coordinador_nombres.each do |coordinador_nombre| %>
      <tr>
        <td><%= coordinador_nombre.nombre %></td>
        <td><%= link_to 'Detalles', coordinador_nombre %></td>
        <td><%= link_to 'Editar', edit_coordinador_nombre_path(coordinador_nombre) %></td>
        <td><%= link_to 'Eliminar', coordinador_nombre, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nuevo nombre de coordinador', new_coordinador_nombre_path %>
