<% if @comision_registros.nil? %>
<% else %>
<h3 class="sub">Peticiones de registro de comisión revisora de tesis</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Presidente</th>
      <th>Secretario</th>
      <th>Primer vocal</th>
      <th>Segundo vocal</th>
      <th>Tercer vocal</th>
      <th>Suplente</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th>Programa</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @comision_registros.each do |comision_registro| %>
      <tr>
        <td><%= comision_registro.presidente %></td>
        <td><%= comision_registro.secretario %></td>
        <td><%= comision_registro.primer_vocal %></td>
        <td><%= comision_registro.segundo_vocal %></td>
        <td><%= comision_registro.tercer_vocal %></td>
        <td><%= comision_registro.suplente %></td>
        <td><%= comision_registro.user.nombre_paterno_materno %></td>
        <td><%= comision_registro.user.boleta %></td>
        <td><%= comision_registro.user.sepi_programa.nombre %></td>
        <td><%= comision_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <td class="comision-registro-<%= comision_registro.id %>">
            <%= link_to "#{ comision_registro.valida_consejero ? 'Validado' : 'No validado' }", toggle_validar_consejero_comision_registro_path(comision_registro), method: :patch, remote: true, class: "btn btn-xs btn-#{ comision_registro.valida_consejero ? 'success' : 'danger' }" %>
        </td>
        <% if comision_registro.valida_coordinador == true %>
        <td class="success"><%= comision_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= comision_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if comision_registro.estado == "Pendiente" %>
        <td class="warning"><%= comision_registro.estado %></td>
        <% elsif comision_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= comision_registro.estado %></td>
        <% else comision_registro.estado == "Finalizado" %>
        <td class="info"><%= comision_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @cambio_comision_registros.nil? %>
<% else %>
<h3 class="sub">Petición de cambio de comisión revisora de tesis</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Presidente</th>
      <th>Secretario</th>
      <th>Primer vocal</th>
      <th>Segundo vocal</th>
      <th>Tercer vocal</th>
      <th>Suplente</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th>Programa</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @cambio_comision_registros.each do |cambio_comision_registro| %>
      <tr>
        <td><%= cambio_comision_registro.presidente %></td>
        <td><%= cambio_comision_registro.secretario %></td>
        <td><%= cambio_comision_registro.primer_vocal %></td>
        <td><%= cambio_comision_registro.segundo_vocal %></td>
        <td><%= cambio_comision_registro.tercer_vocal %></td>
        <td><%= cambio_comision_registro.suplente %></td>
        <td><%= cambio_comision_registro.user.nombre_paterno_materno %></td>
        <td><%= cambio_comision_registro.user.boleta %></td>
        <td><%= cambio_comision_registro.user.sepi_programa.nombre %></td>
        <td><%= cambio_comision_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <td class="cambio-comision-registro-<%= cambio_comision_registro.id %>">
            <%= link_to "#{ cambio_comision_registro.valida_consejero ? 'Validado' : 'No validado' }", toggle_validar_consejero_cambio_comision_registro_path(cambio_comision_registro), method: :patch, remote: true, class: "btn btn-xs btn-#{ cambio_comision_registro.valida_consejero ? 'success' : 'danger' }" %>
        </td>
        <% if cambio_comision_registro.valida_coordinador == true %>
        <td class="success"><%= cambio_comision_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambio_comision_registro.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if cambio_comision_registro.estado == "Pendiente" %>
        <td class="warning"><%= cambio_comision_registro.estado %></td>
        <% elsif cambio_comision_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= cambio_comision_registro.estado %></td>
        <% else cambio_comision_registro.estado == "Finalizado" %>
        <td class="info"><%= cambio_comision_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
