<%= form_for(receso_semestre) do |f| %>
  <% if receso_semestre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receso_semestre.errors.count, "error") %> prohibited this receso_semestre from being saved:</h2>

      <ul>
      <% receso_semestre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :semestre %>
    <%= f.text_field :semestre %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
