<%= form_for(receso_semestre) do |f| %>
  <% if receso_semestre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receso_semestre.errors.count, "error") %> prohibited this receso_semestre from being saved:</h2>

      <ul>
      <% receso_semestre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :semestre %><br>
    <%= collection_select(:receso_semestre, :semestre, ClaveSemestre.all, :semestre, :semestre, {prompt: 'Seleccione'}) %>
  </div>

  <div class="form-group">
    <% if can? :validar_consejero, receso_semestre %>
      <%= f.label :valida_consejero %><br>
      <%= f.check_box :valida_consejero %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :validar_coordinador, receso_semestre %>
      <%= f.label :valida_coordinador %><br>
      <%= f.check_box :valida_coordinador %>
    <% end %>
  </div>

  <div class="form-group">
    <% if can? :cambiar_estado, receso_semestre %>
      <%= f.label :estado %><br>
      <%= collection_select(:receso_semestre, :estado, Estado.all, :estado, :estado, {prompt: true}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Crear petición", class: "btn btn-md btn-primary" %>
  </div>
<% end %>
