<h3 class="sub">Petición de receso por un semestre</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Semestre</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @receso_semestres.each do |receso_semestre| %>
      <tr>
        <td><%= receso_semestre.semestre %></td>
        <td><%= receso_semestre.user.nombre %></td>
        <td><%= receso_semestre.user.boleta %></td>
        <td><%= receso_semestre.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if receso_semestre.valida_consejero == true %>
        <td class="success"><%= receso_semestre.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= receso_semestre.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <% if receso_semestre.valida_coordinador == true %>
        <td class="success"><%= receso_semestre.valida_coordinador ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= receso_semestre.valida_coordinador ? 'Si' : 'No' %></td>
        <% end %>
        <% if receso_semestre.estado == "Pendiente" %>
        <td class="warning"><%= receso_semestre.estado %></td>
        <% elsif receso_semestre.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= receso_semestre.estado %></td>
        <% else receso_semestre.estado == "Finalizado" %>
        <td class="info"><%= receso_semestre.estado %></td>
        <% end %>
        <td><%= link_to 'Detalles', receso_semestre %></td>
        <td><%= link_to 'Editar', edit_receso_semestre_path(receso_semestre) %></td>
        <td><%= link_to 'Eliminar', receso_semestre, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, RecesoSemestre %>
<%= link_to 'Crear petición para solicitar un receso por un semestre', new_receso_semestre_path %>
<% end %>
