<h3 class="sub">Nombres de los programas de la SEPI</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Nombre del programa</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @sepi_programas.each do |sepi_programa| %>
      <tr>
        <td><%= sepi_programa.nombre %></td>
        <td><%= link_to 'Detalles', sepi_programa %></td>
        <td><%= link_to 'Editar', edit_sepi_programa_path(sepi_programa) %></td>
        <td><%= link_to 'Eliminar', sepi_programa, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo nombre de programa de la SEPI', new_sepi_programa_path %>
