<h3 class="sub">Petición de registro de comisión revisora de tesis</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Presidente</th>
      <th>Secretario</th>
      <th>Primer vocal</th>
      <th>Segundo vocal</th>
      <th>Tercer vocal</th>
      <th>Suplente</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th>Programa</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @comision_registros.each do |comision_registro| %>
      <tr>
        <td><%= comision_registro.presidente %></td>
        <td><%= comision_registro.secretario %></td>
        <td><%= comision_registro.primer_vocal %></td>
        <td><%= comision_registro.segundo_vocal %></td>
        <td><%= comision_registro.tercer_vocal %></td>
        <td><%= comision_registro.suplente %></td>
        <td><%= comision_registro.user.nombre_paterno_materno %></td>
        <td><%= comision_registro.user.boleta %></td>
        <td><%= comision_registro.user.sepi_programa.nombre %></td>
        <td><%= comision_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if comision_registro.valida_consejero == true %>
        <td class="success"><%= comision_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= comision_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <td class="comision-registro-<%= comision_registro.id %>">
            <%= link_to "#{ comision_registro.valida_coordinador ? 'Validado' : 'No validado' }", toggle_validar_coordinador_comision_registro_path(comision_registro), method: :patch, remote: true, class: "btn btn-xs btn-#{ comision_registro.valida_coordinador ? 'success' : 'danger' }" %>
        </td>
        <% if comision_registro.estado == "Pendiente" %>
        <td class="warning"><%= comision_registro.estado %></td>
        <% elsif comision_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= comision_registro.estado %></td>
        <% else comision_registro.estado == "Finalizado" %>
        <td class="info"><%= comision_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="sub">Petición de cambio de comisión revisora de tesis</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Presidente</th>
      <th>Secretario</th>
      <th>Primer vocal</th>
      <th>Segundo vocal</th>
      <th>Tercer vocal</th>
      <th>Suplente</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th>Programa</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @cambio_comision_registros.each do |cambio_comision_registro| %>
      <tr>
        <td><%= cambio_comision_registro.presidente %></td>
        <td><%= cambio_comision_registro.secretario %></td>
        <td><%= cambio_comision_registro.primer_vocal %></td>
        <td><%= cambio_comision_registro.segundo_vocal %></td>
        <td><%= cambio_comision_registro.tercer_vocal %></td>
        <td><%= cambio_comision_registro.suplente %></td>
        <td><%= cambio_comision_registro.user.nombre_paterno_materno %></td>
        <td><%= cambio_comision_registro.user.boleta %></td>
        <td><%= cambio_comision_registro.user.sepi_programa.nombre %></td>
        <td><%= cambio_comision_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if cambio_comision_registro.valida_consejero == true %>
        <td class="success"><%= cambio_comision_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambio_comision_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <td class="cambio-comision-registro-<%= cambio_comision_registro.id %>">
            <%= link_to "#{ cambio_comision_registro.valida_coordinador ? 'Validado' : 'No validado' }", toggle_validar_coordinador_cambio_comision_registro_path(cambio_comision_registro), method: :patch, remote: true, class: "btn btn-xs btn-#{ cambio_comision_registro.valida_coordinador ? 'success' : 'danger' }" %>
        </td>
        <% if cambio_comision_registro.estado == "Pendiente" %>
        <td class="warning"><%= cambio_comision_registro.estado %></td>
        <% elsif cambio_comision_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= cambio_comision_registro.estado %></td>
        <% else cambio_comision_registro.estado == "Finalizado" %>
        <td class="info"><%= cambio_comision_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="sub">Petición de registro de comit&eacute; tutorial</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tutor uno</th>
      <th>Tutor dos</th>
      <th>Tutor tres</th>
      <th>Tutor cuatro</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th>Programa</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @comite_registros.each do |comite_registro| %>
      <tr>
        <td><%= comite_registro.tutor_uno %></td>
        <td><%= comite_registro.tutor_dos %></td>
        <td><%= comite_registro.tutor_tres %></td>
        <td><%= comite_registro.tutor_cuatro %></td>
        <td><%= comite_registro.user.nombre_paterno_materno %></td>
        <td><%= comite_registro.user.boleta %></td>
        <td><%= comite_registro.user.sepi_programa.nombre %></td>
        <td><%= comite_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if comite_registro.valida_consejero == true %>
        <td class="success"><%= comite_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= comite_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <td class="comite-registro-<%= comite_registro.id %>">
            <%= link_to "#{ comite_registro.valida_coordinador ? 'Validado' : 'No validado' }", toggle_validar_coordinador_comite_registro_path(comite_registro), method: :patch, remote: true, class: "btn btn-xs btn-#{ comite_registro.valida_coordinador ? 'success' : 'danger' }" %>
        </td>
        <% if comite_registro.estado == "Pendiente" %>
        <td class="warning"><%= comite_registro.estado %></td>
        <% elsif comite_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= comite_registro.estado %></td>
        <% else comite_registro.estado == "Finalizado" %>
        <td class="info"><%= comite_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="sub">Petición de cambio de comit&eacute; tutorial</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tutor uno</th>
      <th>Tutor dos</th>
      <th>Tutor tres</th>
      <th>Tutor cuatro</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th>Programa</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @cambio_comite_registros.each do |cambio_comite_registro| %>
      <tr>
        <td><%= cambio_comite_registro.tutor_uno %></td>
        <td><%= cambio_comite_registro.tutor_dos %></td>
        <td><%= cambio_comite_registro.tutor_tres %></td>
        <td><%= cambio_comite_registro.tutor_cuatro %></td>
        <td><%= cambio_comite_registro.user.nombre_paterno_materno %></td>
        <td><%= cambio_comite_registro.user.boleta %></td>
        <td><%= cambio_comite_registro.user.sepi_programa.nombre %></td>
        <td><%= cambio_comite_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if cambio_comite_registro.valida_consejero == true %>
        <td class="success"><%= cambio_comite_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambio_comite_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <td class="cambio-comite-registro-<%= cambio_comite_registro.id %>">
            <%= link_to "#{ cambio_comite_registro.valida_coordinador ? 'Validado' : 'No validado' }", toggle_validar_coordinador_cambio_comite_registro_path(cambio_comite_registro), method: :patch, remote: true, class: "btn btn-xs btn-#{ cambio_comite_registro.valida_coordinador ? 'success' : 'danger' }" %>
        </td>
        <% if cambio_comite_registro.estado == "Pendiente" %>
        <td class="warning"><%= cambio_comite_registro.estado %></td>
        <% elsif cambio_comite_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= cambio_comite_registro.estado %></td>
        <% else cambio_comite_registro.estado == "Finalizado" %>
        <td class="info"><%= cambio_comite_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="sub">Petición de registro de director de tesis</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre del director de tesis</th>
      <th>Nombre del codirector de tesis</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th>Programa</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @director_tesis_registros.each do |director_tesis_registro| %>
      <tr>
        <td><%= director_tesis_registro.nombre %></td>
        <% if director_tesis_registro.codirector.present? %>
        <td><%= director_tesis_registro.codirector %></td>
        <% else %>
        <td>Sin codirector</td>
        <% end %>
        <td><%= director_tesis_registro.user.nombre_paterno_materno %></td>
        <td><%= director_tesis_registro.user.boleta %></td>
        <td><%= director_tesis_registro.user.sepi_programa.nombre %></td>
        <td><%= director_tesis_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if director_tesis_registro.valida_consejero == true %>
        <td class="success"><%= director_tesis_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= director_tesis_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <td class="director-tesis-registro-<%= director_tesis_registro.id %>">
            <%= link_to "#{ director_tesis_registro.valida_coordinador ? 'Validado' : 'No validado' }", toggle_validar_coordinador_director_tesis_registro_path(director_tesis_registro), method: :patch, remote: true, class: "btn btn-xs btn-#{ director_tesis_registro.valida_coordinador ? 'success' : 'danger' }" %>
        </td>
        <% if director_tesis_registro.estado == "Pendiente" %>
        <td class="warning"><%= director_tesis_registro.estado %></td>
        <% elsif director_tesis_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= director_tesis_registro.estado %></td>
        <% else director_tesis_registro.estado == "Finalizado" %>
        <td class="info"><%= director_tesis_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="sub">Petición de registro de cambio de director de tesis</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre del director de tesis</th>
      <th>Nombre del codirector de tesis</th>
      <th>Creado por</th>
      <th>Boleta</th>
      <th>Programa</th>
      <th width="10%">Fecha</th>
      <th width="5%">Validacion consejero</th>
      <th width="5%">Validacion coordinador</th>
      <th width="15%">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @cambio_director_tesis_registros.each do |cambio_director_tesis_registro| %>
      <tr>
        <td><%= cambio_director_tesis_registro.nombre %></td>
        <% if cambio_director_tesis_registro.codirector.present? %>
        <td><%= cambio_director_tesis_registro.codirector %></td>
        <% else %>
        <td>Sin codirector</td>
        <% end %>
        <td><%= cambio_director_tesis_registro.user.nombre_paterno_materno %></td>
        <td><%= cambio_director_tesis_registro.user.boleta %></td>
        <td><%= cambio_director_tesis_registro.user.sepi_programa.nombre %></td>
        <td><%= cambio_director_tesis_registro.created_at.strftime("%d/%m/%y a las %T %P") %></td>
        <% if cambio_director_tesis_registro.valida_consejero == true %>
        <td class="success"><%= cambio_director_tesis_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% else %>
        <td class="danger"><%= cambio_director_tesis_registro.valida_consejero ? 'Si' : 'No' %></td>
        <% end %>
        <td class="cambio-director-tesis-registro-<%= cambio_director_tesis_registro.id %>">
            <%= link_to "#{ cambio_director_tesis_registro.valida_coordinador ? 'Validado' : 'No validado' }", toggle_validar_coordinador_cambio_director_tesis_registro_path(cambio_director_tesis_registro), method: :patch, remote: true, class: "btn btn-xs btn-#{ cambio_director_tesis_registro.valida_coordinador ? 'success' : 'danger' }" %>
        </td>
        <% if cambio_director_tesis_registro.estado == "Pendiente" %>
        <td class="warning"><%= cambio_director_tesis_registro.estado %></td>
        <% elsif cambio_director_tesis_registro.estado == "Procede realizar trámite ante la SIP" %>
        <td class="success"><%= cambio_director_tesis_registro.estado %></td>
        <% else cambio_director_tesis_registro.estado == "Finalizado" %>
        <td class="info"><%= cambio_director_tesis_registro.estado %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
