<% if user_signed_in? && current_user.tipos_usuario.tipo == 'Alumno' %>
<ul class="nav navbar-nav navbar-right">
    <li class="Selected"><%= link_to "Inicio", alumnos_path %></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nueva solicitud  <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Agregar una asignatura al programa de estudios", new_agregar_asignatura_path %>
        </li>
        <li>
          <%= link_to "Baja de una asignatura del programa de estudios", new_baja_asignatura_path %>
        </li>
        <li>
          <%= link_to "Baja definitiva de un programa", new_baja_programa_path %>
        </li>
        <li>
          <%= link_to "Cambiar asignaturas del programa de estudios", new_cambiar_asignatura_path %>
        </li>
        <li>
          <%= link_to "Cambiar de consejero", new_cambiar_consejero_path %>
        </li>
        <li>
          <%= link_to "Cambiar título del tema de tesis", new_cambiar_tema_path %>
        </li>
        <li>
          <%= link_to "Cursar asignaturas en otra unidad académica", new_cursar_asignatura_path %>
        </li>
        <li>
          <%= link_to "Solicitud de examen de grado", new_examen_graduado_path %>
        </li>
        <li>
          <%= link_to "Receso por un semestre", new_receso_semestre_path %>
        </li>
        <li>
          <%= link_to "Registro de comité tutorial", new_comite_registro_path %>
        </li>
        <li>
          <%= link_to "Registro de tema de tesis, director y comisión revisora", new_tesis_registro_path %>
        </li>
      </ul>
    </li>
    <li><%= link_to "Cambiar contraseña", edit_user_registration_path %></li>
    <li><%= link_to "Salir", destroy_user_session_path, :method => :delete %></li>
  </ul>
<% elsif user_signed_in? && current_user.tipos_usuario.tipo == 'Consejero' %>
  <ul class="nav navbar-nav navbar-right">
    <li class="Selected"><%= link_to "Inicio", consejero_casos_path %></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Casos por programa  <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Eléctrica", electrica_casos_path %>
      </ul>
    </li>
    <li><%= link_to "Cambiar contraseña", edit_user_registration_path %></li>
    <li><%= link_to "Salir", destroy_user_session_path, :method => :delete %></li>
  </ul>

<% else %>
  <ul class="nav navbar-nav navbar-right">
    <li class="Selected">Inicio</li>
    <li><%= link_to "Salir", destroy_user_session_path, :method => :delete %></li>
  </ul>
<% end %>
