<% if user_signed_in? && current_user.tipos_usuario.tipo == 'Alumno' %>
<ul class="nav navbar-nav navbar-right">
    <li class="Selected"><%= link_to "Inicio", alumnos_path %></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nueva solicitud  <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <!--<li><%#= link_to "Agregar una asignatura al programa de estudios", new_agregar_asignatura_path %></li>
        <li><%#= link_to "Baja de una asignatura del programa de estudios", new_baja_asignatura_path %></li>
        <li><%#= link_to "Baja definitiva de un programa", new_baja_programa_path %></li>
        <li><%#= link_to "Cambiar asignaturas del programa de estudios", new_cambiar_asignatura_path %></li>
        <li><%#= link_to "Cambiar de consejero", new_cambiar_consejero_path %></li>
        <li><%#= link_to "Cambiar título del tema de tesis", new_cambiar_tema_path %></li>
        <li><%#= link_to "Cursar asignaturas en otra unidad académica", new_cursar_asignatura_path %></li>
        <li><%#= link_to "Solicitud de examen de grado", new_examen_graduado_path %></li>
        <li><%#= link_to "Receso por un semestre", new_receso_semestre_path %></li>-->
        <li><%= link_to "Registro de comisión revisora de tesis", new_comision_registro_path %></li>
        <li><%= link_to "Cambio de comisión revisora de tesis", new_cambio_comision_registro_path %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "Registro de comité tutorial", new_comite_registro_path %></li>
        <li><%= link_to "Cambio de comité tutorial", new_comite_registro_path %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "Registro de director de tesis", new_director_tesis_registro_path %></li>
        <li><%= link_to "Cambio de director de tesis", new_cambio_director_tesis_registro_path %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "Registro de tema de tesis", new_tema_tesis_registro_path %></li>
        <li><%= link_to "Cambio de tema de tesis", new_cambiar_tema_path %></li>
        <li role="separator" class="divider"></li>
        <!--<li><%#= link_to "Registro de tema de tesis, director y comisión revisora", new_tesis_registro_path %></li>-->
        <!--<li><%#= link_to "Revocación de baja con fines de graduación", new_revocacion_registro_path %></li>-->
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><strong> Hola!</strong> <%= current_user.nombre %></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Salir", destroy_user_session_path, method: :delete %>
          <%= link_to "Editar datos", edit_user_registration_path %>
        </li>
      </ul>
    </li>
  </ul>
<% elsif user_signed_in? && current_user.tipos_usuario.tipo == 'Coordinador' %>
  <ul class="nav navbar-nav navbar-right">
    <li class="Selected"><%= link_to "Inicio", coordinadores_path %></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Casos por tipo  <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Agregar una asignatura al programa de estudios", agregar_asignaturas_path %></li>
        <li><%= link_to "Baja de una asignatura del programa de estudios", baja_asignaturas_path %></li>
        <li><%= link_to "Baja definitiva de un programa", baja_programas_path %></li>
        <li><%= link_to "Cambiar asignaturas del programa de estudios", cambiar_asignaturas_path %></li>
        <li><%= link_to "Cambiar de consejero", cambiar_consejeros_path %></li>
        <li><%= link_to "Cambiar título del tema de tesis", cambiar_temas_path %></li>
        <li><%= link_to "Cursar asignaturas en otra unidad académica", cursar_asignaturas_path %></li>
        <li><%= link_to "Solicitud de examen de grado", examen_graduados_path %></li>
        <li><%= link_to "Receso por un semestre", receso_semestres_path %></li>
        <li><%= link_to "Registro de comité tutorial", comite_registros_path %></li>
        <li><%= link_to "Registro de tema de tesis, director y comisión revisora", tesis_registros_path %></li>
        <li><%= link_to "Revocación de baja con fines de graduación", revocacion_registros_path %></li>
      </ul>
    </li>
    <li><%= link_to "Consultar minuta", buscar_minutas_path %></li>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><strong> Hola!</strong> <%= current_user.nombre %></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Salir", destroy_user_session_path, method: :delete %>
            <%= link_to "Editar datos", edit_user_registration_path %>
          </li>
        </ul>
      </li>
  </ul>
<% elsif user_signed_in? && current_user.tipos_usuario.tipo == 'Consejero' %>
  <ul class="nav navbar-nav navbar-right">
    <li class="Selected"><%= link_to "Inicio", consejero_casos_path %></li>
    <% if current_user.sepi_programa.nombre.include? 'Eléctrica' %>
      <li><%= link_to "Casos del programa", electrica_casos_path %></li>
    <% elsif current_user.sepi_programa.nombre.include? 'Electrónica' %>
      <li><%= link_to "Casos del programa", electronica_casos_path %></li>
    <% elsif current_user.sepi_programa.nombre.include? 'Mecánica' or current_user.sepi_programa.nombre.include? 'Térmica' %>
      <li><%= link_to "Casos del programa", mecanica_casos_path %></li>
    <% elsif current_user.sepi_programa.nombre.include? 'Sistemas' %>
      <li><%= link_to "Casos del programa", sistemas_casos_path %></li>
    <% else %>
      <li><%= link_to "Casos del programa", telecom_casos_path %></li>
    <% end %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><strong> Hola!</strong> <%= current_user.nombre %></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Salir", destroy_user_session_path, method: :delete %>
          <%= link_to "Editar datos", edit_user_registration_path %>
        </li>
      </ul>
    </li>
  </ul>
<% elsif user_signed_in? && current_user.tipos_usuario.tipo == 'Control escolar' %>
  <ul class="nav navbar-nav navbar-right">
    <li class="Selected"><%= link_to "Inicio", ce_usuarios_path %></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Casos por tipo  <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Agregar una asignatura al programa de estudios", agregar_asignaturas_path %></li>
        <li><%= link_to "Baja de una asignatura del programa de estudios", baja_asignaturas_path %></li>
        <li><%= link_to "Baja definitiva de un programa", baja_programas_path %></li>
        <li><%= link_to "Cambiar asignaturas del programa de estudios", cambiar_asignaturas_path %></li>
        <li><%= link_to "Cambiar de consejero", cambiar_consejeros_path %></li>
        <li><%= link_to "Cambiar título del tema de tesis", cambiar_temas_path %></li>
        <li><%= link_to "Cursar asignaturas en otra unidad académica", cursar_asignaturas_path %></li>
        <li><%= link_to "Solicitud de examen de grado", examen_graduados_path %></li>
        <li><%= link_to "Receso por un semestre", receso_semestres_path %></li>
        <li><%= link_to "Registro de comité tutorial", comite_registros_path %></li>
        <li><%= link_to "Registro de tema de tesis, director y comisión revisora", tesis_registros_path %></li>
        <li><%= link_to "Revocación de baja con fines de graduación", revocacion_registros_path %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mapa curricular  <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Eléctrica", electrica_asignaturas_path %></li>
        <li><%= link_to "Electrónica", electronica_asignaturas_path %></li>
        <li><%= link_to "Mecánica", mecanica_asignaturas_path %></li>
        <li><%= link_to "Sistemas", sistemas_asignaturas_path %></li>
        <li><%= link_to "Telecomunicaciones", telecom_asignaturas_path %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profesores por &aacute;rea  <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Eléctrica", electrica_consejeros_path %></li>
        <li><%= link_to "Electrónica", electronica_consejeros_path %></li>
        <li><%= link_to "Mecánica", mecanica_consejeros_path %></li>
        <li><%= link_to "Sistemas", sistemas_consejeros_path %></li>
        <li><%= link_to "Telecomunicaciones", telecom_consejeros_path %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Otros datos  <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Claves de semestres", clave_semestres_path %></li>
        <li><%= link_to "Nombres de los coordinadores", coordinador_nombres_path %></li>
      </ul>
    </li>
    <li><%= link_to "Consultar minuta", buscar_minutas_path %></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><strong> Hola!</strong> <%= current_user.nombre %></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Salir", destroy_user_session_path, method: :delete %>
          <%= link_to "Editar datos", edit_user_registration_path %>
        </li>
      </ul>
    </li>
  </ul>
<% elsif user_signed_in? && current_user.tipos_usuario.tipo == 'Administrador' %>
  <ul class="nav navbar-nav navbar-right">
    <li class="Selected"><%= link_to "Inicio", ce_usuarios_path %></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Casos por tipo  <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Agregar una asignatura al programa de estudios", agregar_asignaturas_path %></li>
        <li><%= link_to "Baja de una asignatura del programa de estudios", baja_asignaturas_path %></li>
        <li><%= link_to "Baja definitiva de un programa", baja_programas_path %></li>
        <li><%= link_to "Cambiar asignaturas del programa de estudios", cambiar_asignaturas_path %></li>
        <li><%= link_to "Cambiar de consejero", cambiar_consejeros_path %></li>
        <li><%= link_to "Cambiar título del tema de tesis", cambiar_temas_path %></li>
        <li><%= link_to "Cursar asignaturas en otra unidad académica", cursar_asignaturas_path %></li>
        <li><%= link_to "Solicitud de examen de grado", examen_graduados_path %></li>
        <li><%= link_to "Receso por un semestre", receso_semestres_path %></li>
        <li><%= link_to "Registro de comité tutorial", comite_registros_path %></li>
        <li><%= link_to "Registro de tema de tesis, director y comisión revisora", tesis_registros_path %></li>
        <li><%= link_to "Revocación de baja con fines de graduación", revocacion_registros_path %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Datos generales  <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Áreas de la SEPI", areas_path %></li>
        <li><%= link_to "Claves de semestres", clave_semestres_path %></li>
        <li><%= link_to "Consejeros Eléctrica", electrica_consejeros_path %></li>
        <li><%= link_to "Consejeros Electrónica", electronica_consejeros_path %></li>
        <li><%= link_to "Consejeros Mecánica", mecanica_consejeros_path %></li>
        <li><%= link_to "Consejeros Sistemas", sistemas_consejeros_path %></li>
        <li><%= link_to "Consejeros Telecomunicaciones", telecom_consejeros_path %></li>
        <li><%= link_to "Estados de los casos", estados_path %></li>
        <li><%= link_to "Mapa curricular Eléctrica", electrica_asignaturas_path %></li>
        <li><%= link_to "Mapa curricular Electrónica", electronica_asignaturas_path %></li>
        <li><%= link_to "Mapa curricular Mecánica", mecanica_asignaturas_path %></li>
        <li><%= link_to "Mapa curricular Sistemas", sistemas_asignaturas_path %></li>
        <li><%= link_to "Mapa curricular Telecomunicaciones", telecom_asignaturas_path %></li>
        <li><%= link_to "Nombres de los coordinadores", coordinador_nombres_path %></li>
        <li><%= link_to "Programas de SEPI", sepi_programas_path %></li>
        <li><%= link_to "Tipos de bajas", tipos_bajas_path %></li>
        <li><%= link_to "Tipos de examen", examen_tipos_path %></li>
        <li><%= link_to "Tipos de usuarios", tipos_usuarios_path %></li>
      </ul>
    </li>
    <li><%= link_to "Lista de usuarios", users_path %></li>
    <li><%= link_to "Consultar minuta", buscar_minutas_path %></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><strong> Hola!</strong> <%= current_user.nombre %></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Salir", destroy_user_session_path, method: :delete %>
          <%= link_to "Editar datos", edit_user_registration_path %>
        </li>
      </ul>
    </li>
  </ul>
<% else %>
  <ul class="nav navbar-nav navbar-right">
    <li class="Selected"><a href="http://www.ipn.mx/Paginas/Correo-Electronico.aspx" target="_blank">Correo electr&oacute;nico</a></li>
    <li><a href="http://www.ipn.mx/Paginas/Calendario-Academico.aspx" target="_blank">Calendario Acad&eacute;mico</a></li>
    <li><a href="http://www.ipn.mx/Paginas/directorio.aspx" target="_blank">Directorio</a></li>
  </ul>
<% end %>
